
<head>
	<%- include('css/style'); %>
</head>

<body>
<style>
	#post {
		background: white;
		margin-left: 15vw;
		max-height: 85vh;
		width: 70vw;
		overflow-y: scroll;
		/*border-style: none groove groove none;
		border-width: 4px;
		border-color: black;*/
		box-shadow: 5px 5px 10px #20537A;
		margin-top: 10px;
	}
   	#table {
		font-size: max(16px, 1.5vw);
		width: 70vw;
		max-height: 85vh;
		overflow-y: scroll;
		color: black;
		border-collapse: collapse;
	}
      
  	#table > tr {
      	padding: 0px;
  	}
      
  	tr:nth-child(even) { 
      	background-color: #B6D0E4; 
   	}
  	.chatButton {
		padding-top: 1vmin;
      	width: max(3vw, 50px);
      	height: max(4vmin, 25px);
      	border-radius: 5vmin;
      	font-size: max(2vmin, 16px);
      	background: white;
   	}
      
  	.profilePic {
      	border-radius: 5vmin;
      	width: 5vmin;
      	height: 5vmin;
      	font-size: 2vmin;
      	margin-left: 5px;
      	margin-top: 10px;
      	margin-bottom: 10px;
      	
   	}
   	
   	#name {
   		width: 40vw
   	}
   	
   	
   	@media only screen and (max-width: 700px) {
		#post {
			margin-left: 1vw;
			width: 98vw;
		}
		#table {
			width: 98vw;
		}
		
		#name {
			width: 45vw
		}
		
	}
</style>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Chats</title>

<div id="post">
  <table id = "table"></table>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	var table = document.getElementById("table");
	var socket = io();
	var chats = [];
	var username = '<%- username %>'
	var limit = 10;
	
	var enterChat = function() {
		location.href = "/chat/" + this.chatId;
	}
	
	var updateChats = function() {
		
    	$.get("/my-chats?limit=" + limit, function(data) {
    		var chats = data
    		table.innerHTML = ""
    		chats.forEach(chat => {
    			var i = chats.findIndex( curr => { curr.id == chat.id })
    			var date = (Date.now() - new Date(chat.lastAccessed)) / 1000
				var dateString = Math.round(date + 1) + " seconds ago"
				if (date >= 59 && date < 60 * 60) {
					dateString = Math.round(date / 60) + " minutes ago"
				} else if (date >= 60 * 60 && date < 60 * 60 * 24) {
					dateString = Math.round(date / (60 * 60)) + " hours ago"
				} else if (date >= 60 * 60 * 24 && date < 60 * 60 * 24 * (365 + 0.25)) {
					dateString = Math.round(date / (60 * 60 * 24)) + " days ago"
				} else if (date >= 60 * 60 * 24 * (365 + 0.25)) {
					dateString = Math.round(date / (60 * 60 * 24 * (365 + 0.25))) + " years ago"
				}
    			var chatName = chat.id.split("@").filter(function(name) {
					return name != username
				})[0]
    			
    			var row = table.insertRow(i);
    			var cell0 = row.insertCell(0);
    			cell0.style.textAlign = 'right'
				$.get("/user-pic/" + chatName, function(data) {
					if (data) {
						cell0.innerHTML = "<img src=" + data + " class='profilePic'></img>"
					} else {
						cell0.innerHTML = "<span class='profilePic'><i class='fa fa-user fa-xl'></i></span>"
					}
					
					cell0.style.alignSelf = "flex-end"
				})
    			
				var cell1 = row.insertCell(1);
				if (chat.unread == username) {
					cell1.innerHTML = chatName + ' <span style="color:lightblue;font-size:max(0.75vw, 8px)"><i class="fa-solid fa-circle"></i></span>';
				} else {
					cell1.innerHTML = chatName;
				}
				
				cell1.style.textAlign = 'center'
				cell1.style.height = '50px';
				cell1.id = 'name'
				var cell2 = row.insertCell(2);
				cell2.innerHTML = dateString
				
				var cell3 = row.insertCell(3);
				var button = document.createElement("button");
				
				button.className = "fa-solid fa-message fa-2xl chatButton"
				
				button.chatId = chat.id;
				button.onclick = enterChat;
				button.style.background = 'white'
				button.style.color = '#20537A'
				cell3.appendChild(button);
    			cell3.style.textAlign = 'center'
    		})
    	})
  	};
  	
  	var refresh = function() {
  		limit += 10
  		updateChats();
  	}
  	socket.emit('self room', {username: username})
  	
	socket.on('update chats', function(msg) {
		setTimeout(updateChats, 1000);
	});
	
	/*chats.forEach(chat => {
		chatIds.push(chat.id);
		var row = table.insertRow(table.rows.length);
		row.id = chat.id;
		var cell1 = row.insertCell(0);
		var chatName = chat.id.split("@").filter(function(name) {
			return name == username
		})[0]
		cell1.innerHTML = chatName;
		var cell2 = row.insertCell(1);
		var button = document.createElement("button");
		button.innerHTML = "Join Chat";
		button.id = "join";
		button.chatId = chat.id;
		button.onclick = enterChat;
		cell2.appendChild(button);
	});*/
	updateChats();
</script>


</body>