
<head>
	<%- include('css/style'); %>
	
</head>

<body>
<style>

      #table {margin: 0; padding: 0; position: relative; top: 0; width: 100%; bottom: 3rem; overflow-y: auto}
      #table > tr { padding: 0px;}
      #join {float:right; margin-right: 10px;}
      tr:nth-child(even) { background-color: #e9f4ff; }
</style>
<p id="test">Hi</p>
<title>Chats</title>
<h1>Chats</h1>
<div class="post">
  <table id = "table"></table>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	// document.getElementById("test").innerHTML = "Bye";
	var table = document.getElementById("table");
	var socket = io();
	var chats = [];
	var username = '<%- username %>'
	var limit = 10;
	
	var enterChat = function() {
		location.href = "/chat?chatId=" + this.chatId;
	}
	
	var updateChats = function() {
		
    	$.get("/my-chats?limit=" + limit, function(data) {
    		var chats = data
    		table.innerHTML = ""
    		for (var i = 0; i < chats.length; i++) {
    			var chat = chats[i];
    			var date = (Date.now() - new Date(chat.lastAccessed)) / 1000
				var dateString = Math.round(date + 1) + " seconds ago"
				if (date >= 59 && date < 60 * 60) {
					dateString = Math.round(date / 60) + " minutes ago"
				} else if (date >= 60 * 60 && date < 60 * 60 * 24) {
					dateString = Math.round(date / (60 * 60)) + " hours ago"
				} else if (date >= 60 * 60 * 24 && date < 60 * 60 * 24 * (365 + 0.25)) {
					dateString = Math.round(date / (60 * 60 * 24)) + " days ago"
				} else if (date >= 60 * 60 * 24 * (365 + 0.25)) {
					dateString = Math.round(date / (60 * 60 * 24 * (365 + 0.25))) + " years ago"
				}
    			var chatName = chat.id.split("@").filter(function(name) {
					return name != username
				})[0]
    			
    			var row = table.insertRow(i);
				var cell1 = row.insertCell(0);
				cell1.innerHTML = chatName;
				
				var cell2 = row.insertCell(1);
				cell2.innerHTML = dateString
				var cell3 = row.insertCell(2);
				var button = document.createElement("button");
				button.innerHTML = "Chat";
				button.id = "join";
				button.chatId = chat.id;
				button.onclick = enterChat;
				cell3.appendChild(button);
    			
    		}
    	})
  	};
  	
  	var refresh = function() {
  		limit += 10
  		updateChats();
  	}
  	socket.emit('self room', {username: username})
  	
	socket.on('update chats', function(msg) {
		setTimeout(updateChats, 1000);
	});
	
	/*chats.forEach(chat => {
		chatIds.push(chat.id);
		var row = table.insertRow(table.rows.length);
		row.id = chat.id;
		var cell1 = row.insertCell(0);
		var chatName = chat.id.split("@").filter(function(name) {
			return name == username
		})[0]
		cell1.innerHTML = chatName;
		var cell2 = row.insertCell(1);
		var button = document.createElement("button");
		button.innerHTML = "Join Chat";
		button.id = "join";
		button.chatId = chat.id;
		button.onclick = enterChat;
		cell2.appendChild(button);
	});*/
	updateChats();
</script>


</body>