<head>
    <style>
      body { margin: 0; padding-bottom: 3rem}
	  #send { background: #afb8c2; padding: 0.25rem; position: fixed; bottom: 3rem; left: 0; right: 0; display: flex; width: 100%; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
      #message { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem;}
      
      #send > button {padding: 0 1rem; margin: 0.25rem;}
      
      #leave {background: #afb8c2; padding: 0.25rem; position: fixed; top: 0; left: 0; width: 50%; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
      #leave > button {border: none; padding: 0 1rem; margin: 0.25rem;}

      
      #messages { list-style-type: none; margin: 0; padding: 0; position: fixed; top: 3rem; width: 100%; bottom: 9rem; overflow-y: auto;}
      #messages > li { padding: 0.5rem 1rem; }
      #messages > li:nth-child(odd) { background: #e9f4ff; }
	  
	  #test {position: fixed; left: 50%; top: 50%;}
    </style>
  </head>
  <body>
		
    	<ul id="messages"></ul>
    	<form id="send" onSubmit = 'return false'>
      		<input id="message" autocomplete="off"> <button onclick='sendMessage()'>Send</button>
    	</form>
    	
		<form id="leave" action = '/chats'>
      		<button onclick="leave()">Leave Chat</button>
    	</form>
    	
    	<p id="test">akjdbgkDBGJABGLAKDF</p>
    <script src="/socket.io/socket.io.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>
		
		var socket = io();
		
  		var message = document.getElementById('message');
  		
  		var messages = document.getElementById('messages');
  		
  		
  		
  		var chat = JSON.parse('<%- chat%>');
  		
  		var msgs = JSON.parse('<%- messages%>');
  		
  		var missing = []
  		var limit = 20;
  		
  		var username = '<%- username%>'
  		
  		for(var i = msgs.length - 1; i >= 0 ; i--) {
  			var item = document.createElement('li');
    		item.textContent = msgs[i].author + ": " + msgs[i].content;
    		messages.appendChild(item);
    		messages.scrollTo(0, messages.scrollHeight);
  		}
  		
  		var getMessages = function() {
  			$.get("/messages?chatId=" + chat.id + "&limit=" + limit , function(data) {
  				
  				var newMessages = JSON.parse(data)
  				console.log(newMessages.length)
  				console.log(msgs.length)
  				var amt = newMessages.length - msgs.length;
  				var i = newMessages.length - amt;
  				var stay = messages.scrollHeight;
  				while (i < newMessages.length) {
  					var item = document.createElement('li');
    				item.textContent = newMessages[i].author + ": " + newMessages[i].content;
  					messages.insertBefore(item, messages.firstChild);
  					msgs.unshift(newMessages[i]);
  					i += 1
  					messages.scrollTo(0, messages.scrollHeight - stay - 10);
  				}
  				
  				
  			})
  			
  		}
  		
  		var checkEnd = function() {
  			if (messages.scrollTop == 0) {
  				limit += 10;
      			getMessages()
    		}
  		}
  		
  		
  		messages.onscroll = checkEnd
		socket.emit('joined', {username: username, chatId: chat.id});
		
		
  		var sendMessage = function() {
  			
    		if (message.value) {
      			socket.emit('chat message', {message: message.value, username: username, chatId: chat.id});
      			var obj = {content: message.value, username: username, chatId: chat.id}
      			$.post('/handle-message', obj);
      			
   	 			var item = document.createElement('li');
    			item.textContent = username + ": " + message.value;
    			messages.appendChild(item);
    			messages.scrollTo(0, messages.scrollHeight);
      			
    		}
    		message.value = '';
  		};
  		
  		var leave = function() {
  			socket.emit('user left', {username: username, chatId: chat.id});
  		};
  		
  		var refresh = function() {
  			
  		}
  		
  		socket.on('chat message', function(msg) {
  			
   	 		var item = document.createElement('li');
    		item.textContent = msg.username + ": " + msg.message;
    		messages.appendChild(item);
    		messages.scrollTo(0, messages.scrollHeight);
  		});
  		socket.on('joined', function(obj) {
  			
   	 		var item = document.createElement('li');
    		item.textContent = obj.username + " joined";
    		messages.appendChild(item);
    		messages.scrollTo(0, messages.scrollHeight);
  		});
  		
  		
  		socket.on('user left', function(username) {
  			missing.unshift(username);
  			document.getElementById("test").innerHTML = missing.length
   	 		var item = document.createElement('li');
   	 		
    		item.textContent = username + " left the chat";
    		messages.appendChild(item);
    		messages.scrollTo(0, messages.scrollHeight);
  		});
  		

	</script>
    
  </body>