<style>	/* #20537A #38698E #5481A4 #81A8C6 #B6D0E4 */
	body {
		text-align: center;
		font-family: Roboto;
		justify-content: center;
		background: #eeeeee;
		padding: 0;
		margin: 0;
	}
	
	#title {
		font-size: max(5.5vw, 48px);
		font-family: Roboto;
		color: black;
	}
	#title-div {
		width: 100%;
		background: white;
		max-height: 100px;
		box-shadow: 5px 5px 10px black;
		border-bottom: 1px solid #3F3F3F;
	}
	
	#container {
		margin: auto;
		margin-top: 10vh;
		padding: 0.25rem;
		width: 700px;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: white;
		border-radius: 2vmin;
		border: 1px solid #3F3F3F;
		box-shadow: 5px 5px 10px black;
		
	}
	
	#login {
		box-sizing: border-box; 
		backdrop-filter: blur(10px); 
		height: max(30vh, 200px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	#login > input {
		border-radius: 1vmin;
		width: 375px;
		font-size: 36px;
		padding-left: 5px;
		background: #eeeeee;
		color: black;
		border: none;
		padding-left: 10px;
	}
	
	#login > #top {
		margin-top: max(4vh, 20px);
	}
	
	#login > button {
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 5px;
		margin: 0.5vmin;
		font-size: max(2.5vw, 32px);
		border: 1px solid black;
		background: #333333;
		color: white;
	}
	
	#login > button:hover {
		background: #666666
	}
	
	#signup {
		display: flex;
	}
	
	#signup > form > button {
		border-radius: 5px;
		margin: 0.5vmin;
		font-size: 28px;
		width: 200px;
		border: 1px solid black;
		background: #333333;
		color: white;
	}
	
	#signup > form > button:hover {
		background: #666666
	}
	
	@media only screen and (max-width: 700px) {
		#container {
			width: 95vw;
		}
		#login > input {
			width: 50vw;
			font-size: 28px;
		}
		#login > button {
			font-size: 24px;
		}
		#signup > form > button {
			font-size: 20px;
			width: 150px;
		}
		#container {
			height: 300px;
		}
	}
	
	@media (prefers-color-scheme: dark) {
		#title-div {
			background: black;
		}
		#title {
			color: white;
		}
		#container {
			background: black;
		}
		body {
			background: #333333;
		}
		
		#login > input {
			background: #666666;
			color: white;
		}
	}

</style>
<meta name="viewport" content="width=device-width,initial-scale=0.8">
<title>Log In / Staffer</title>
<div id="title-div">
	<p id="title">Staffer</p>
</div>
<div id="container">
	<form id="login" action="/handle-login" method="post">
		<input id="top" name='username' placeholder="Username" required><br>
		<input name='password' type="password" placeholder="Password" required><br>
		<button id="login-button" type="submit">Log in</button>
	</form>
	<div id="signup">
		<form id="signup-user" action="/signup-user" method="get">
			<button type="submit">Sign Up as User</button>
		</form>
		<form id="signup-restaurant" action="/signup-restaurant" method="get">
			<button type="submit">Sign Up as Restaurant</button>
		</form>
	</div>
</div>

<script src="/socket.io/socket.io.js"></script>

<script>
	
	var socket = io()
	socket.emit('logged out', {});
	
</script>

