<style>	/* #20537A #38698E #5481A4 #81A8C6 #B6D0E4 */
	body {
		text-align: center;
		font-family: Helvetica;
		justify-content: center;
		background-image: linear-gradient(to bottom, #5481A4, #81A8C6, white);
		padding: 0;
		margin: 0;
	}
	
	#title {
		font-size: max(5.5vw, 48px);
		width; 100%;
		border-bottom: solid black;
		color: white;
		background-image: linear-gradient(to bottom right, #20537A, #38698E, #5481A4, #81A8C6);
		font-family: Monaco;
	}
	
	#container {
		padding: 0.25rem;
		width: 60vw;
		margin-left: 20vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: white;
		border-radius: 2vmin;
		border: 1px solid #20537A;
		box-shadow: 5px 5px 10px #20537A;
		
	}
	
	#login {
		box-sizing: border-box; 
		backdrop-filter: blur(10px); 
		width: 40vw;
		height: max(30vh, 200px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	#login > input {
		border-radius: 1vmin;
		width: max(27.5vw, 200px);
		font-size: max(2.5vw, 25px);
		padding-left: 5px;
	}
	
	#login > #top {
		margin-top: max(4vh, 20px);
	}
	
	#login > button {
		border-radius: 1vmin;
		margin: 0.5vmin;
		font-size: max(2.5vw, 32px);
		border: 0.5px solid;
		background: linear-gradient(to bottom right, #20537A, #38698E, #5481A4, #81A8C6);
		color: white;
	}
	
	#login > button:hover {
		background: linear-gradient(to top left, #20537A, #38698E, #5481A4, #81A8C6);
	}
	
	#signup {
		display: flex;
	}
	
	#signup > form > button {
		border-radius: 1vw;
		margin: 0.5vmin;
		font-size: max(1.75vw, 16px);
		width: max(12.5vw, 100px);
		border: 0.5px solid;
		background: linear-gradient(to bottom right, #20537A, #38698E, #5481A4, #81A8C6);
		color: white;
	}
	
	#signup > form > button:hover {
		background: linear-gradient(to top left, #20537A, #38698E, #5481A4, #81A8C6);
	}
	
	@media only screen and (max-width: 700px) {
		#container {
			margin-left: 0;
			padding-left: 0;
			width: 100%;
		}
	}

</style>
<meta name="viewport" content="width=device-width,initial-scale=0.8">
<title>Log In / Staffer</title>
<p id="title">Staffer</p>
<div id="container">
	<form id="login" action="/handle-login" method="post">
		<input id="top" name='username' placeholder="Username" required><br>
		<input name='password' type="password" placeholder="Password" required><br>
		<button id="login-button" type="submit">Log in</button>
	</form>
	<div id="signup">
		<form id="signup-user" action="/signup-user" method="get">
			<button type="submit">Sign Up as User</button>
		</form>
		<form id="signup-restaurant" action="/signup-restaurant" method="get">
			<button type="submit">Sign Up as Restaurant</button>
		</form>
	</div>
</div>

<script src="/socket.io/socket.io.js"></script>

<script>
	
	var socket = io()
	socket.emit('logged out', {});
	
</script>

