<style>
	body {
		text-align: center;
		font-family: Copperplate; 
		background: #eeeeee;
		justify-content: center
	}
	
	#title {
		font-size: 10vmin;
		width; 100%;
		border-bottom: solid;
		background: white;
	}
	#container {
		
		padding: 0.25rem;
		width: 60vw;
		margin-left: 20vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 0.5px solid;
		background: white;
		border-radius: 2vmin;
		
	}
	
	#login {
		box-sizing: border-box; 
		backdrop-filter: blur(10px); 
		width: 50vmin;
		height: 30vmin;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	#login > input {
		border-radius: 1vmin;
		width: 30vmin;
		font-size: 4vmin;
	}
	
	#login > #top {
		margin-top: 3vmin;
	}
	
	#login > button {
		border-radius: 1vmin;
		border: none; 
		margin: 0.5vmin;
		font-size: 4vmin;
		
		
	}
	
	#signup {
		display: flex;
	}
	
	#signup > form > button {
		border-radius: 0.5vmin;
		border: none; 
		margin: 0.5vmin;
		font-size: 2vmin;
		
		
		width: 15vmin;
		font-size: 2vmin;
	}

</style>

<p id="title">Waiter</p>


<div id="container">
	<form id="login" action="/handle-login" method="post">
		<input id="top" name='username' placeholder="Username" required><br>
		<input name='password' type="password" placeholder="Password" required><br>
		<button id="login-button" type="submit">Log in</button>
	</form>
	<div id="signup">
		<form id="signup-user" action="/signup-user" method="get">
			<button type="submit">Sign Up as User</button>
		</form>
		<form id="signup-restaurant" action="/signup-restaurant" method="get">
			<button type="submit">Sign Up as Restaurant</button>
		</form>
	</div>
</div>

<script src="/socket.io/socket.io.js"></script>

<script>
	
	var socket = io()
	socket.emit('logged out', {});
	
</script>

