<head>
	<%- include('css/style'); %>
	
</head>

<style>


#posts {
	margin-left: 15vw;
	min-height: 90vh;
	width: 70vw;
}
</style>


<div id="posts"></div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src = "post.js"></script>
<script>

var postsEl = document.getElementById("posts")
var limit = 10
var getPosts = function() {
	
	$.get("/posts?limit=" + limit, function(data) {
		
			postsEl.innerHTML = ""
    		var posts = JSON.parse(data)
    		
    		for (var i = 0; i < posts.length; i++) {
    			var post = posts[i];
    			var el = createPost(document, post, () => {location.href = '/post-page/' + post.id})
    			postsEl.appendChild(el);
    			
    			
    		}
    		
    	})
}

getPosts()

</script>