<head>
	<%- include('css/style'); %>
</head>

<style>

#bar > #top-home {
	color: #AAAAAA;
}
#element {
	position: absolute;
	left: 0;
	right: 0;
	min-width: 400px;
	
	top: 70px;
	bottom: 0;
	
}

#posts-div {
	display: flex;
}

#posts {
	position: absolute;
	left: 0;
	top: 70px;
	bottom: 0;
	width: max(30%, 350px);
	overflow-y: auto;
	border-right: 1px solid var(--light-border);
}

#search-input {
	width: max(200px, 30vw);
	font-size: 16px;
	margin-right: 10px;
	background: var(--light-border);
	color: var(--dark-text);
	padding-left: 10px;
	border-radius: 20px;
	border: none;
}

#location {
	width: max(150px, 20vw);
	font-size: 16px;
	
	background: var(--light-border);
	color: var(--dark-text);
	padding-left: 10px;
	border-radius: 20px;
	border: none;
	margin-left: 0.5vw;
	
	margin-right: 5px;
}

#searchDiv {
	display: flex;
	border: 1px var(--light-border) solid;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

#sortButton {
	width: max(10vw, 75px);
	height: 50px;
	font-size: max(1.75vw, 14px);
	border-radius: 5px;
	border: none;
}

#sortButton:hover {
	background: var(--light-border);
}

#dropdownDiv:hover #dropdownSort {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
}

#dropdownSort {
	display: none;
	z-index: 1;
	position: absolute;
	width: max(10vw, 75px);
	max-height: 150px;
	overflow-y: auto;
}

.dropResult {
	width: max(10vw, 75px);
	min-height: 30px;
	font-size: max(1.75vw, 14px);
	color: var(--dark-text);
	margin: 0;
	border-radius: 5px;
}

.dropResult:hover {
	background: var(--light-secondary);
}



.clicked {
	background: #aaaaaa;
	border-left: 1px solid var(--dark-border);
}

.clicked-button {
	background: var(--dark-background);
}

.postProfPic:hover {
	transform: scale(1.5, 1.5)
}

.ind-post {
	display: flex;
	padding: 10px;
	padding-left: 15px;
	text-align: left;
	height: 150px;
	color: var(--dark-text);
	border-bottom: 1px solid var(--light-border);
}

.post-c0 {
	position: absolute;
	left: 20px;
	right: 60px;
}

.post-c1 {
	position: absolute;
	right: 20px;
	margin-top: 20px;
	font-size: 32px;
	width: 30px;
}

.post-title {
	color: var(--dark-text);
	font-weight: bold;
	font-size: 24px;
}

.post-name {
	font-size: 16px;
	color: var(--dark-text);
}

#display {
	position: absolute;
	right: 0;
	left:  max(30%, 350px);
	top: 70px;
	bottom: 0;
	color: var(--dark-text);
	padding-left: min(100px, max(20px, 5vw));
	overflow-y: auto;
	padding-right: 10px;
	background: none;
}

.clicked-display {
	background: var(--light-background);
}

.display-title {
	width: 100%;
	text-align: left;
	font-weight: bold;
	font-size: 39px;
}

.display-name {
	text-align: left;
}

.display-profile-pic {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

.display-icon {
	height: 25px;
	width: 50px;
	display: block;
	font-size: 16px;
	
}

.display-jd {
	font-size: 28px;
	font-weight: bold;
}

.display-button {
	position: absolute;
	bottom: 30px;
	right: 30px;
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 5px;
	color: var(--light-text);
	border: none;
	background: var(--dark-text);
}

.display-button:hover {
	background: var(--dark-background);
	border: 1px solid var(--dark-border);
}



@media only screen and (max-width: 700px) {
	#element {
		top: 50px;
	}
	#search-input {
		font-size: 12px;
	}
	
	#location {
		font-size: 12px;
	}
	#dropdownDiv {
		
	}
	#sortButton {
		height: 30px;
	}
	#location {
		
	}
	
	#posts {
		width: 150px;
		top: 50px;
	}
	.ind-post {
		padding: 5px;
		height: 110px;
	}
	
	.post-c0 {
		left: 10px;
		right: 50px;
	}
	
	.post-title {
		font-size: 16px;
		
	}
	.post-name {
		font-size: 12px;
	}
	
	.post-c1 {
		font-size: 24px;
		right: 5px;
	}
	#display {
		left: 150px;
	}
	.display-title {
		font-size: 24px;
	}
	.display-jd {
		font-size: 20px;
	}
	
	#searchDiv {
		
	}
}

@media (prefers-color-scheme: dark) {
	.ind-post {
		color: var(--light-text);
		border-bottom: 1px solid var(--dark-secondary);
	}
	.post-title {
		color: var(--light-text);
	}
	.post-name {
		color: var(--light-text);
	}
	
	#searchDiv {
		//background: black;
		border: 1px #111111 solid;
	}
	#element {
		//background: black;
	}
	#posts {
		border-right: 1px solid var(--dark-secondary);
	}
	#search-input {
		background: var(--dark-secondary);
		color: var(--light-text);
	}
	
	#location {
		background: var(--dark-secondary);
		color: var(--light-text);
	}
	#display {
		color: var(--light-text);
	}
	.display-button {
		color: var(--light-text);
		background: var(--dark-secondary);
	}
	.display-button:hover {
		background: var(--dark-text);
	}
	
	.clicked {
		background: var(--dark-secondary);
		border-left: 1px var(--light-secondary) solid;
	}
	.clicked-display {
		background: var(--dark-secondary);
	}
	#bar > #top-home {
		color: #AAAAAA;
	}
}


</style>
<title>Staffer</title>
<meta name="viewport" content="width=device-width,initial-scale=0.8">
<div id="element">
	<div id="searchDiv">
		<input id="search-input" placeholder="Search" onkeyup="searchPost()"></input>
		<div id="dropdownDiv">
			<button id="sortButton">Role</button>
			<div id="dropdownSort">
				<button class="dropResult" onclick="waiter(this)">Waiter</button>
				<button class="dropResult" onclick="busBoy(this)">Busser</button>
				<button class="dropResult" onclick="washer(this)">Washer</button>
				<button class="dropResult" onclick="other(this)">Other</button>
			</div>
		</div>
		<input id="location" placeholder="Zip Code" onkeyup="searchPost()"></input>
	</div>
	<div id="posts-div">
		<div id="posts"></div>
		<div id="display"></div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src = "post.js"></script>
<%if(type == "Restaurant") {%>
	<script>
	
	</script>
<%}%>
<script>

var postsEl = document.getElementById("posts")
var limit = 15
var search = ""
var type = ""
var clicked = undefined
var postId = '<%- id%>'
var first = true
var username = '<%- username%>'

var getPosts = function(search = "", filter = "", zipCode = "", radius = 10) {
	var url = "/posts?limit=" + limit
	if (search && search.length > 0) {
		url += "&search=" + search
	}
	if (zipCode && zipCode.length == 5) {
		url += "&zipCode=" + zipCode + "&radius=" + radius
	}
	if (filter && filter.length > 0) {
		url += "&filter=" + filter
	}
	
	$.get(url, function(data) {
			postsEl.innerHTML = ""
    		var posts = data
    		
    		for (var i = 0; i < posts.length; i++) {
    			var post = posts[i];
    			var el = document.createElement("div")
    			el.className = "ind-post"
    			el.id = post.id
    			el.post = post
    			if (post.id == postId && first) {
					first = false
					var row = {target: el}
					openPost(row)
				}
    			if (clicked && clicked.id == post.id) {
    				el.classList.add("clicked")
    				clicked = el
    			}
    			var c0 = document.createElement("div")
    			c0.className = "post-c0"
    			var title = document.createElement("p")
    			title.textContent = post.title
    			title.className = "post-title"
    			var name = document.createElement("p")
    			name.textContent = post.name
    			name.className = "post-name"
    			c0.appendChild(title)
    			c0.appendChild(name)
    			
    			var c1 = document.createElement("div")
    			c1.className = "post-c1"
    			c1.id = post.id
    			var icon = document.createElement("i")
    			if (post.saved) {
    				icon.className = "fa-solid fa-bookmark"
    			} else {
    				icon.className = "fa-regular fa-bookmark"
    			}
    			
    			icon.onclick = (e) => {savePost(e)}
    			icon.id = post.id
    			c1.appendChild(icon)
    			
    			
    			el.appendChild(c0)
    			el.appendChild(c1)
    			postsEl.appendChild(el);
    			el.onclick = (e) => {openPost(e)}
    		}
    		if (clicked) {
    			clicked.scrollIntoView();
    		}
    })
}

let waiting = undefined
var searchPost = function() {
	if (waiting) {
		clearTimeout(waiting)
		waiting = undefined
	}
	waiting = setTimeout(() => {
		var searchBar = document.getElementById("search-input")
		var searchVal = searchBar.value
		var locationBar = document.getElementById("location")
		var radius = 10
		var zipCode = locationBar.value
	
		if (zipCode.length == 5) {
			getPosts(searchVal, type, zipCode, radius)
		} else {
			getPosts(searchVal, type)
		}
		waiting = undefined
	}, 100)
}

var waiter = function(e) {
	var arr = document.getElementsByClassName("clicked-button")
	for (var i = 0; i < arr.length; i++) {
		arr[i].className = "dropResult";
	}
	if (type == "Waiter") {
		type = ""
	} else {
		e.classList.add('clicked-button');
		type = "Waiter"
	}
	searchPost()
	
}

var busBoy = function(e) {
	var arr = document.getElementsByClassName("clicked-button")
	for (var i = 0; i < arr.length; i++) {
		arr[i].className = "dropResult";
	}
	if (type == "Busser") {
		type = ""
	} else {
		e.classList.add('clicked-button');
		type = "Busser"
	}
	searchPost()
}

var washer = function(e) {
	var arr = document.getElementsByClassName("clicked-button")
	for (var i = 0; i < arr.length; i++) {
		arr[i].className = "dropResult";
	}
	if (type == "Washer") {
		type = ""
	} else {
		e.classList.add('clicked-button');
		type = "Washer"
	}
	searchPost()
}

var other = function(e) {
	var arr = document.getElementsByClassName("clicked-button")
	for (var i = 0; i < arr.length; i++) {
		arr[i].className = "dropResult";
	}
	if (type == "Other") {
		type = ""
	} else {
		e.classList.add('clicked-button');
		type = "Other"
	}
	searchPost()
}

var savePost = function(e) {
	var row = e.target
	var id = row.id
	$.post("/saved/" + id, {}, function(data) {
		if (row.classList.contains("fa-regular")) {
			row.classList.remove("fa-regular")
			row.classList.add("fa-solid")
		} else {
			row.classList.remove("fa-solid")
			row.classList.add("fa-regular")
		}
	})
}


var openPost = function(e) {
	var row = e.target
	if (row.className == 'post-c1' || row.classList.contains('fa-bookmark')) {
		return
	}
	while(row.className != 'ind-post') {
		row = row.parentElement
	}
	if (clicked) {
		clicked.classList.remove("clicked")
	}
	
	row.classList.add("clicked");
	clicked = row
	
	var postId = row.id
	var post = row.post
	var display = document.getElementById("display")
	display.innerHTML = ""
	display.className = "clicked-display"
	var title = document.createElement("p")
	title.textContent = post.title
	title.className = "display-title"
	
	var layer = document.createElement("div")
	layer.style.display = "flex"
	var imgDiv = document.createElement("div")
	$.get("/user-pic/" + post.username, function(data) {
		if (data) {
			imgDiv.innerHTML = "<img src=" + data + " class='display-profile-pic' id="+ post.username + "></img>"
		} else {
			imgDiv.innerHTML = "<span id="+ post.username + " class='display-icon'><i class='fa fa-user fa-2xl' id="+ post.username + "></i></span>"
		}
		imgDiv.style.alignSelf = "flex-end"
	})
	
	imgDiv.id = post.username
	imgDiv.onclick = (e) => {window.location.href = "/profile/" + e.target.id}
	
	var name = document.createElement("p")
	name.id = post.username
	name.textContent = post.name
	name.className = "display-name"
	name.onclick = (e) => {window.location.href = "/profile/" + e.target.id}
	layer.append(imgDiv)
	layer.append(name)
	
	var descrDiv = document.createElement("div")
	descrDiv.style.textAlign = "left"
	var jobDescr = document.createElement("p")
	jobDescr.className = "display-jd"
	jobDescr.textContent = "Job Description"
	var description = document.createElement("p")
	description.textContent = post.content
	var time = document.createElement("p")
	var date = new Date(post.created)
	time.innerHTML = "<b>Posted on</b><br> " + date.getMonth() + "/" + date.getDay() + "/" + date.getFullYear();
	
	
	var applyButton = document.createElement("button")
	applyButton.postId = post.id
	if (username == post.username) {
		applyButton.textContent = "Edit"
		applyButton.className = "display-button"
		applyButton.onclick = (e) => {
			var id = e.target.postId
		}
	} else {
		applyButton.id = post.title
		applyButton.username = post.username
		applyButton.className = "display-button"
		applyButton.textContent = "Apply"
		$.get("/apply/" + post.id, function(applied) {
			console.log(applied)
			if (!applied) {
				applyButton.onclick = (e) => {
					var title = e.target.id
					var username = e.target.username
					var id = e.target.postId
					$.post("/apply/" + username + "/" + title + "/" + id, {}, function(data) {
					e.target.textContent = "Applied"
						e.target.onclick = () => {}
					})
				}
			} else {
				applyButton.textContent = "Applied"
			}
		})
	}
	
	descrDiv.appendChild(time)
	descrDiv.appendChild(jobDescr)
	descrDiv.appendChild(description)
	
	
	
	display.appendChild(title)
	display.appendChild(layer)
	display.appendChild(descrDiv)
	display.appendChild(applyButton)
}


getPosts()

</script>