<head>
	<%- include('css/style'); %>
	
</head>

<style>


#posts {
	margin-left: 15vw;
	max-height: 80vh;
	width: max(70vw, 400px);
	overflow-y: auto;
}

#searchPosts {
	width: max(200px, 30vw);
	height: 50px;
	font-size: max(1.75vw, 16px);
	margin-right: 0.5vw;
}

#searchDiv {
	display: flex;
	margin-top: 10px;
	margin-left: 20vw;
	width: 70vw;
	margin-bottom: 5px;
}

#sortButton {
	width: max(10vw, 75px);
	height: 50px;
	font-size: max(1.75vw, 14px);
}

#sortButton:hover {
	background: gray;
}

#dropdownDiv:hover #dropdownSort {
	display: flex;
	flex-direction: column;
}

#dropdownSort {
	display: none;
	z-index: 1;
	position: absolute;
	width: max(10vw, 75px);
	max-height: 150px;
	overflow-y: auto;
}

.dropResult {
	width: max(10vw, 75px);
	min-height: 30px;
	font-size: max(1.75vw, 14px);
	margin: 0;
}

.dropResult:hover {
	background: gray;
}

#location {	
	margin-left: 0.5vw;
	width: 19vw;
	font-size: max(1.75vw, 16px);
}

.clicked {
	background: #aaaaaa;
}

@media only screen and (max-width: 700px) {
	#posts {
		margin-left: 0;
		width: 98vw;
	}
	#searchDiv {
		margin-left: 10vw;
		width: 98vw;
	}
	#location {
		width: 25vw;
	}
}


</style>
<title>Staffer</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<div id="searchDiv">
	<input id="searchPosts" placeholder="Search" onkeyup="searchPost()"></input>
	<div id="dropdownDiv">
		<button id="sortButton">Filter</button>
		<div id="dropdownSort">
			<button class="dropResult" onclick="waiter(this)">Waiter</button>
			<button class="dropResult" onclick="busBoy(this)">Bus Boy</button>
			<button class="dropResult" onclick="washer(this)">Washer</button>
			<button class="dropResult" onclick="other(this)">Other</button>
		</div>
	</div>
	<input id="location" placeholder="Zip Code" onkeyup="searchPost()"></input>
</div>
<div id="posts"></div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src = "post.js"></script>
<script>

var postsEl = document.getElementById("posts")
var limit = 15
var search = ""
var type = ""

var getPosts = function(search = "", filter = "", zipCode = "", radius = 10) {
	var url = "/posts?limit=" + limit
	if (search && search.length > 0) {
		url += "&search=" + search
	}
	if (zipCode && zipCode.length == 5) {
		url += "&zipCode=" + zipCode + "&radius=" + radius
	}
	if (filter && filter.length > 0) {
		url += "&filter=" + filter
	}
	
	$.get(url, function(data) {
			postsEl.innerHTML = ""
    		var posts = data
    		
    		for (var i = 0; i < posts.length; i++) {
    			var post = posts[i];
    			var el = createPost(document, post, (id) => {location.href = '/post-page/' + id})
    			postsEl.appendChild(el);
    		}
    		
    })
}

var searchPost = function() {
	var searchBar = document.getElementById("searchPosts")
	var searchVal = searchBar.value
	var locationBar = document.getElementById("location")
	var radius = 10
	var zipCode = locationBar.value
	if (zipCode.length == 5) {
		getPosts(searchVal, type, zipCode, radius)
	} else {
		getPosts(searchVal, type)
	}
}

var waiter = function(e) {
	var arr = document.getElementsByClassName("clicked")
	for (var i = 0; i < arr.length; i++) {
		arr[i].className = "dropResult";
	}
	if (type == "Waiter") {
		type = ""
	} else {
		e.classList.add('clicked');
		type = "Waiter"
	}
	searchPost()
	
}

var busBoy = function(e) {
	var arr = document.getElementsByClassName("clicked")
	for (var i = 0; i < arr.length; i++) {
		arr[i].className = "dropResult";
	}
	if (type == "Bus Boy") {
		type = ""
	} else {
		e.classList.add('clicked');
		type = "Bus Boy"
	}
	searchPost()
}

var washer = function(e) {
	var arr = document.getElementsByClassName("clicked")
	for (var i = 0; i < arr.length; i++) {
		arr[i].className = "dropResult";
	}
	if (type == "Washer") {
		type = ""
	} else {
		e.classList.add('clicked');
		type = "Washer"
	}
	searchPost()
}

var other = function(e) {
	var arr = document.getElementsByClassName("clicked")
	for (var i = 0; i < arr.length; i++) {
		arr[i].className = "dropResult";
	}
	if (type == "Other") {
		type = ""
	} else {
		e.classList.add('clicked');
		type = "Other"
	}
	searchPost()
}

getPosts()

</script>