<head>
	<%- include('css/style'); %>
	
</head>

<style>
	tr:nth-child(even) { 
		background-color: #e9f4ff; 
	}
	
	.post {
		background: white;
		margin-left: 15vw;
		min-height: 90vh;
		width: 70vw;
	}
	
	#table {
		font-size: max(16px, 1.5vw);
		width: 70vw;
		overflow-y: scroll;
	}
	
</style>


<div class="post">
  <table id = "table"></table>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io();
	
	var username = '<%- username%>'
	var table = document.getElementById("table");
	var count = 0;
	var notifications = []
	var notificationIds = []
	var limit = 30;
	
	var getNotifications = function() {
		
		$.get("/my-notifications?limit=" + limit, function(nots) {
			
			for (var i = 0; i < nots.length; i++) {
    			var notification = nots[i];
    			var content = notification.content
    			if (!notificationIds.includes(notification.id)) {
    				notificationIds.push(notification.id);
    				notifications.push(notification)
    				var row = table.insertRow(i);
					var cell1 = row.insertCell(0);
					var date = (Date.now() - new Date(notification.created)) / 1000
					var dateString = Math.round(date + 1) + " seconds ago"
					if (date >= 59 && date < 60 * 60) {
						dateString = Math.round(date / 60) + " minutes ago"
					} else if (date >= 60 * 60 && date < 60 * 60 * 24) {
						dateString = Math.round(date / (60 * 60)) + " hours ago"
					} else if (date >= 60 * 60 * 24 && date < 60 * 60 * 24 * (365 + 0.25)) {
						dateString = Math.round(date / (60 * 60 * 24)) + " days ago"
					} else if (date >= 60 * 60 * 24 * (365 + 0.25)) {
						dateString = Math.round(date / (60 * 60 * 24 * (365 + 0.25))) + " years ago"
					}
					cell1.innerHTML = content
					var cell2 = row.insertCell(1);
					cell2.innerHTML = dateString;
					var cell3 = row.insertCell(2)
					var u2 = notification.content.split(" ")[0]
					var chatId = username < u2 ? username + "@" + u2 : u2 + "@" + username
					cell3.innerHTML = "<button onclick='window.location.href=\"/chat/" + chatId + "\"'>Chat</button>"
    			}
    		}
		});
	}
	getNotifications()
	
	var checkEnd = function() {
		
  		if (document.body.scrollTop + window.innerHeight - document.body.scrollHeight == 0) {
  			limit += 10;
      		getNotifications()
    	}
  	}
  	document.body.onscroll = checkEnd
	
	socket.emit('self room', {username: username})
	socket.on("notification", function() {
		limit += 1;
		getNotifications()
	})
</script>
