<head>
	<%- include('css/style'); %>
	
</head>

<style>
	/* #20537A #38698E #5481A4 #81A8C6 #B6D0E4 */
	
	#post {
		background: white;
		margin: auto;
		max-height: 85vh;
		width: max(50%, 500px);
		padding-left: 10px;
		padding-right: 10px;
		overflow-y: scroll;
		box-shadow: 5px 5px 10px #20537A;
		margin-top: 10px;
	}
	
	#table {
		font-size: max(20px, 1.5vw);
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		color: black;
		border-collapse: collapse;
	}
	.profilePic {
		border-radius: max(7vmin, 30px);
		width: 70px;
		height: 70px;
		font-size: max(2vmin, 16px);
	}
	.chatButton {
		padding-top: 1vmin;
      	width: max(3vw, 50px);
      	height: max(4vmin, 25px);
      	//border-radius: 5vmin;
      	font-size: max(2vmin, 16px);
      	background: white;
      	color: #20537A;
	}
	.chatButton:hover {
		background: #20537A;
		color: white;
	}
	
	.notification-cell1 {
		text-align: left;
		height: 100px;
		padding-left: 10px;
	}
	
	.date-string {
		color: gray;
		//text-align: right;
		font-size: max(12px, 1vw);
	}
	
	@media only screen and (max-width: 700px) {
		#post {
			width: 90%;
		}
	}
	
	@media (prefers-color-scheme: dark) {
		tr {
			background: black;
			color: white;
		}
		
		#post {
			background: black;
		}
		
	}
	
</style>
<meta name="viewport" content="width=device-width,initial-scale=0.7">
<title>Notifications / Staffer</title>
<div id="post">
  <table id = "table"></table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io();
	
	var username = '<%- username%>'
	var table = document.getElementById("table");
	var count = 0;
	var notifications = []
	var notificationIds = []
	var limit = 30;
	
	var getNotifications = function() {
		
		$.get("/my-notifications?limit=" + limit, function(nots) {
			
			nots.forEach(notification => {
    			var i = nots.findIndex( curr => { curr.id == notification.id })
    			if (!notificationIds.includes(notification.id)) {
    				notificationIds.push(notification.id);
    				notifications.push(notification)
    				var row = table.insertRow(i);
					createNotificationDiv(notification, row)
					
    			}
    		})
		});
	}
	getNotifications()
	
	var checkEnd = function() {
		var table = document.getElementById("post")
  		if (table.scrollTop + table.offsetHeight - table.scrollHeight == 0) {
  			
  			limit += 10;
      		getNotifications()
    	}
  	}
  	
  	var createNotificationDiv = function(notification, row) {
  		var content = notification.content
  		var date = (Date.now() - new Date(notification.created)) / 1000
		var dateString = Math.round(date + 1) + " s ago"
		if (date >= 59 && date < 60 * 60) {
			dateString = Math.round(date / 60) + " min ago"
		} else if (date >= 60 * 60 && date < 60 * 60 * 24) {
			dateString = Math.round(date / (60 * 60)) + " hr ago"
		} else if (date >= 60 * 60 * 24 && date < 60 * 60 * 24 * (365 + 0.25)) {
			dateString = Math.round(date / (60 * 60 * 24)) + " d ago"
		} else if (date >= 60 * 60 * 24 * (365 + 0.25)) {
			dateString = Math.round(date / (60 * 60 * 24 * (365 + 0.25))) + " yr ago"
		}
		var u2 = notification.content.split(" ")[0]
		var cell0 = row.insertCell(0);
		cell0.style.paddingLeft = "10px"
		//cell0.style.marginRight = "10px"
		cell0.style.textAlign = 'center'
		if (notification.sender) {
			$.get("/user-pic/" + notification.sender, function(data) {
				if (data) {
					cell0.innerHTML = "<img src=" + data + " username=" + u2 + " class='profilePic'></img>"
				} else {
					cell0.innerHTML = "<span class='profilePic' username=" + u2 + "><i class='fa fa-user fa-2xl'></i></span>"
				}
				cell0.style.alignSelf = "flex-end"
				cell0.onclick = (e) => {window.location.href='/profile/' + e.target.attributes.username.value}
				
			})
		} else {
			cell0.innerHTML = "<span class='profilePic'><i class='fa fa-user fa-2xl'></i></span>"
			cell0.style.alignSelf = "flex-end"
			cell0.username = u2
			cell0.onclick = (e) => {window.location.href='/profile/' + e.target.attributes.username.value}
		}
		var cell1 = row.insertCell(1);
		cell1.innerHTML = content
		cell1.innerHTML += '<p class="date-string">' + dateString + '</p>'
		cell1.className = 'notification-cell1'
		
		var cell3 = row.insertCell(2)
		var chatId = u2
		var button = document.createElement("button");
		button.className = "fa-solid fa-message fa-sm chatButton"
		button.id = "join";
		button.chatId = chatId
		button.onclick = (e) => {
			$.post("/chats/" + e.target.chatId, {}, function(data) {
				window.location.href = "/chats?chatId=" + data
			});
		}
		cell3.appendChild(button);
		cell3.style.textAlign = 'center'
  	}
  	var post = document.getElementById("post")
  	post.onscroll = checkEnd
	
	socket.emit('self room', {username: username})
	socket.on("notification", function() {
		limit += 1;
		getNotifications()
	})
</script>
