<head>
	<%- include('css/style'); %>
</head>
<style>
	#page {
		margin-top: 10px;
		margin-left: 15vw;
		width: 70vw;
	}
	
	#comments {
		position: fixed;
		top: 100px;
		bottom: 20px;
		padding-top: 5px;
		width: 50vw;
		margin-left: 10vw;
	}
	
	#commentsDiv {
		overflow-y: auto;
		list-style: none;
		margin: 0;
		margin-left: -40px;
		position: fixed;
		bottom: 50px;
		padding-top: 10px;
		top: max(170px, min(190px, 32vh));
	}
	
	#formDiv {
		width: 50vw;
		position: fixed;
		bottom: 5px;
		padding-bottom: 5px;
		
	}
	
	#commentInput {
		height: 40px;
		width: 20vw;
		border: 0.5px solid;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		margin: 0;
		padding: 0;
		padding-left: 10px;
	}
	
	#commentButton {
		height: 40px;
		width: 15vw;
		border-left: none;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		margin: 0;
		padding-top: 6px;
		color: white;
		background: linear-gradient(to bottom right, #20537A, #38698E, #5481A4, #81A8C6, white);
	}
	
	#commentButton:hover {
		background: linear-gradient(to top left, #20537A, #38698E, #5481A4, #81A8C6, white);
	}
	
	#post {
		position: sticky;
		top: 50px;
		z-index: 1;
	}
	
	.profilePic {
		border-radius: 5vmin;
		width: max(5vmin, 20px);
		height: max(5vmin, 20px);
		font-size: max(2vmin, 16px);
	}
	
	.comment {
		padding-top: 5px;
		background: white;
		width: 50vw;
		border-bottom: 1px solid #20537A;
		background: radial-gradient(#cedde9, #81A8C6);
	}
	
.ind-post {
	color: black;
	background: white	
}

.post-title {
	color: black
}

.post-icon {
	margin-top: 10px;
}
	
@media only screen and (max-width: 700px) {
	#page {
		margin-left: 0;
		width: 100vw;
	}
	#comments {
		width: 90vw;
		margin-left: 5vw;
	}
	#formDiv {
		width: 90vw;
		
	}
	#commentInput {
		width: 30vw;
	}
	#commentButton {
		width: 20vw;
	}
	.comment {
		width: 100%;
	}
}

@media (prefers-color-scheme: dark) {
	.ind-post {
		background: black;
		color: white	
	}
	.post-title {
		color: white
	}
	
	.post-icon {
		color: white;
	}
	
	.comment {
		color: white;
		background: black;
	}
	
	.comment-title {
		color: white
	}
	
	.comment-icon {
		color: white;
	}
}
</style>
<meta name="viewport" content="width=device-width,initial-scale=0.8">
<title>Post / Staffer</title>
<div id="page">
	<div id="post"></div>
	<div id="comments">
		<ul id="commentsDiv"></ul>
		<div id="formDiv">
			<input type="text" id="commentInput"/><button id="commentButton" onClick="addComment()">Comment</button>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src = "../post.js"></script>
<script>
	var post = JSON.parse('<%- post %>')
	var postEl = document.getElementById("post")
	var commentsDiv = document.getElementById("commentsDiv")
	var el = createPost(document, post, () => {})
	postEl.appendChild(el);
	
	var getComments = function() {
		
		$.get("/comments/" + post.id, function(comments) {
			commentsDiv.innerHTML = ""
			comments.forEach(comment => {
				var date = (Date.now() - new Date(comment.created)) / 1000
				var dateString = Math.round(date + 1) + " seconds ago"
				if (date >= 59 && date < 60 * 60) {
					dateString = Math.round(date / 60) + " minutes ago"
				} else if (date >= 60 * 60 && date < 60 * 60 * 24) {
					dateString = Math.round(date / (60 * 60)) + " hours ago"
				} else if (date >= 60 * 60 * 24 && date < 60 * 60 * 24 * (365 + 0.25)) {
					dateString = Math.round(date / (60 * 60 * 24)) + " days ago"
				} else if (date >= 60 * 60 * 24 * (365 + 0.25)) {
					dateString = Math.round(date / (60 * 60 * 24 * (365 + 0.25))) + " years ago"
				}
				var commentDiv = document.createElement("li")
				commentDiv.className = "comment"
				commentDiv.style.display = "flex"
				
				commentsDiv.insertBefore(commentDiv, commentsDiv.firstChild)
				var left = document.createElement("div")
				var right = document.createElement("div")
				var center = document.createElement("div")
				commentDiv.appendChild(left)
				commentDiv.appendChild(center)
				commentDiv.appendChild(right)
				var img = document.createElement("div")
				img.style.width = "max(8vmin, 40px)"
				img.style.height = "max(8vmin, 40px)"
				img.style.borderRadius = "max(8vmin, 40px)"
				img.style.margin = "20 20 20 20"
				img.className = "profilePic"
				img.innerHTML = "<a href='/profile/" + post.username
					+ "'><i class='fa-solid fa-user fa-2xl' style='margin-top: 10px'></i></a>"
				left.appendChild(img)
				$.get("/user-pic/" + comment.author, function(data) {
					if (data) {
						img.innerHTML = "<a href='/profile/" + comment.author 
							+ "'><img style='width:max(8vmin, 40px);height:max(8vmin, 40px);border-radius:max(8vmin, 40px)' src='" + data + "''></img></a>"
					}
				})
				
				var title = document.createElement("a")
				title.innerHTML = "<b>" + comment.name + "</b> <i style='color:gray;'>@" + comment.author + "</i>"
				title.style.textDecoration = "none"
				title.className = "comment-title"
				title.href = "/profile/" + comment.author
				var content = document.createElement("p")
				content.innerHTML = comment.content
				center.appendChild(title)
				center.appendChild(content)
				center.style.width = "30vw"
				center.style.fontSize = "14px"
				center.style.textAlign = "left"
				right.innerHTML = dateString
				right.style.textAlign = "right"
				right.style.width = "12vw"
				right.style.marginTop = "10px"
				right.style.fontSize = "10px"
				right.style.marginRight = "10px"
				var maxWidth = function(x) {
					if (x.matches) {
						center.style.width = "40vw"
						right.style.width = "24vw"
					} else {
						center.style.width = "30vw"
						right.style.width = "12vw"
					}
				}
				var x = window.matchMedia("only screen and (max-width: 700px)")
				maxWidth(x)
				x.addListener(maxWidth)
				commentsDiv.scrollTo(0, commentsDiv.scrollHeight);
			})
		})
	}
	
	getComments()
	
	var addComment = function() {
		var commentInput = document.getElementById("commentInput")
		var content = commentInput.value
		if (content && content.length > 0) {
			var c = content.trim()
			if (c.length == 0) {
				return
			}
			var comment = {
				content: c,
				postId: post.id,
				created: new Date().toISOString()
			}
			$.post("/comments", {comment: comment, post: post}, function(data) {
				getComments()
				commentInput.value = ""
			})
		}
	}
	
	document.addEventListener("keyup", function(event) {
		if (event.keyCode === 13) {
			addComment()
		}
	});
</script>