<head>
	<%- include('css/style'); %>
</head>
<style>
	#page {
		margin-left: 15vw;
		min-height: 90vh;
		width: 70vw;
	}
	
@media only screen and (max-width: 700px) {
	#page {
		margin-left: 0;
		width: 98vw;
	}
}
</style>

<div id="page">
<div id="post"></div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src = "../post.js"></script>
<script>
	var post = JSON.parse('<%- post %>')
	var postEl = document.getElementById("post")
    var el = createPost(document, post, () => {})
    postEl.appendChild(el);
</script>