<header>

<div id="top">
	<form id="search" onsumbit="return false"><input placeholder="Search"></input></form>
	<button onclick="window.location.href='/'">Jobs</button>
	<button onclick="window.location.href='/notifications'">Notifications</button>
	<button onclick="window.location.href='/chats'">Chats</button>
	<button onclick="window.location.href='/profile'">My Profile</button>
	
</div>

</header>