
<style>
	#posts {
		margin-left: 15vw;
		overflow-y: auto;
		margin-bottom: 20px;
	}

	#post-popup {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
		background: rgba(0, 0, 0, 50%);
	}

	#post-form {
		border-radius: 20px;
		margin-top: 25vh;
		margin-left: 25vw;
		padding: 5vh 2.5vw 5vh 2.5vw;
		width: 45vw;
		background: linear-gradient(to bottom right, #20537A, #38698E, #5481A4, #81A8C6);
		box-shadow: 5px 5px 10px #20537A;
		border: 2px solid #20537A;
	}
	
	#post-input {
		width: 38vw;
		height: 30vh;
		border-radius: 20px;
		padding: 2.5vh 1vw 2.5vh 1vw;
	}
	
	#post-submit {
		width: 38vw;
		background: linear-gradient(to top left, #20537A, #38698E, #5481A4, #81A8C6);
		color: white;
		font-size: min(16px, 2.5vw);
		margin-top: 5vh;
		padding: 2.5vh 1vw 2.5vh 1vw;
	}
	
	#post-submit:hover {
		background: linear-gradient(to bottom right, #20537A, #38698E, #5481A4, #81A8C6);
	}
	
	#post-type {
		
	}
	
	#post-expiration {
		
	}

@media only screen and (max-width: 700px) {
	#posts {
		margin-left: 0;
	}
	#post-form {
		margin-left: 10vw;
		width: 80vw;
	}
	#post-input {
		width: 70vw;
	}
}
</style>
<meta name="viewport" content="width=device-width,initial-scale=0.8">
<div id="posts"></div>
<div id="post-popup">
	<form id='post-form' method='POST' action='/posts'>
		<textarea name='content' id='post-input' type='paragraph' required></textarea><br>
		<select id="post-type" name="type" required>
			<option value='Bus Boy'>Bus Boy</option>
			<option value='Waiter'>Waiter</option>
			<option value='Washer'>Washer</option>
			<option value='Other'>Other</option>
		</select>
		<input name="expiration" id="post-expiration" type="date" required/><br>
		<input type='submit' value='Submit' id='post-submit'>
	</form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>

var postsEl = document.getElementById("posts")
var limit = 15

var getPosts = function() {
	var url = "/posts/" + username + "?limit=" + limit
	console.log(url)
	$.get(url, function(data) {
			postsEl.innerHTML = ""
    		var posts = data
    		
    		for (var i = 0; i < posts.length; i++) {
    			var post = posts[i];
    			var el = createPost(document, post, (id) => {location.href = '/post-page/' + id})
    			postsEl.appendChild(el);
    		}
    		
    })
}

var createPost = function(document, post, func) {
	
	var div = document.createElement("div")
	div.style.display = "flex"
	div.style.paddingTop = '10px'
	div.onclick = () => func(post.id)
	div.style.background = "white"//"radial-gradient(#cedde9, #81A8C6)"
	div.style.marginLeft = "5vw"
	div.style.width = "max(400px, 60vw)"
	div.style.border = "1px #38698E solid"
	var left = document.createElement("div")
	//left.style.width = "max(8vw, 40px)"
	var img = document.createElement("div")
	img.style.width = "max(8vmin, 40px)"
	img.style.height = "max(8vmin, 40px)"
	img.style.borderRadius = "max(8vmin, 40px)"
	img.style.margin = "20 20 20 20"
	img.className = "profilePic"
	img.innerHTML = "<a href='/profile/" + post.username 
		+ "' style='color:black'><i class='fa-solid fa-user fa-2xl' style='margin-top: 10px'></i></a>"
	left.appendChild(img)
	$.get("/user-pic/" + post.username, function(data) {
		if (data) {
			img.innerHTML = "<a href='/profile/" + post.username 
				+ "'><img style='width:max(8vmin, 40px);height:max(8vmin, 40px);border-radius:max(8vmin, 40px)' src='" + data + "''></img></a>"
		}
	})
	div.appendChild(left)
	
	var center = document.createElement("div")
	center.style.width = "30vw"
	div.appendChild(center)
	center.style.textAlign = "left"
	var title = document.createElement("a")
	title.innerHTML = "<b>" + post.name + "</b> <i style='color:gray;'>@" + post.username + "</i>"
	title.style.textDecoration = "none"
	title.style.color = "black";
	title.href = "/profile/" + post.username
	var content = document.createElement("p")
	content.innerHTML = post.content
	center.appendChild(title)
	center.appendChild(content)
	
	var right = document.createElement("div")
	right.style.width = "22vw"
	right.style.fontSize = "12px"
	right.style.marginRight = "1vw"
	var date = (Date.now() - new Date(post.created)) / 1000
	var dateString = Math.round(date + 1) + " seconds ago"
	if (date >= 59 && date < 60 * 60) {
		dateString = Math.round(date / 60) + " minutes ago"
	} else if (date >= 60 * 60 && date < 60 * 60 * 24) {
		dateString = Math.round(date / (60 * 60)) + " hours ago"
	} else if (date >= 60 * 60 * 24 && date < 60 * 60 * 24 * (365 + 0.25)) {
		dateString = Math.round(date / (60 * 60 * 24)) + " days ago"
	} else if (date >= 60 * 60 * 24 * (365 + 0.25)) {
		dateString = Math.round(date / (60 * 60 * 24 * (365 + 0.25))) + " years ago"
	}
	var d = document.createElement("p")
	d.innerHTML = dateString
	right.style.textAlign = "right"
	var maxWidth = function(x) {
		if (x.matches) {
			div.style.width = "100vw"
			div.style.marginLeft = "0"
			center.style.width = "47vw"
			right.style.width = "34vw"
		} else {
			div.style.width = "max(400px, 60vw)"
			div.style.marginLeft = "5vw"
			center.style.width = "30vw"
			right.style.width = "22vw"
		}
	}
	var x = window.matchMedia("only screen and (max-width: 700px)")
	maxWidth(x)
	x.addListener(maxWidth)
	right.appendChild(d)
	div.appendChild(right)
	
	return div
}

getPosts()

var postPopup = document.getElementById('post-popup')
var openCreatePost = function() {
	postPopup.style.display = 'block'
}

</script>
