
<style>
	#posts {
		margin: auto;
		width: 700px;
		overflow-y: auto;
		margin-bottom: 20px;
	}
	.post {
		
		color: black;
		border: 1px black solid;
		display: flex;
		flex-direction: right;
		justify-content: space-between;
	}
	
	.post-title {
		color: black;
	}
	
	

@media only screen and (max-width: 700px) {
	#posts {
		
		width: 90vw;
	}
	
	.post {
		
		
	}
	
}

@media (prefers-color-scheme: dark) {
	.post {
		background: none;
		color: white;
		border: 1px white solid;
	}
	
	.post-title {
		color: white;
	}
}
</style>
<meta name="viewport" content="width=device-width,initial-scale=0.8">
<div id="posts"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>

var postsEl = document.getElementById("posts")
var limit = 15

var getPosts = function() {
	var url = "/posts/" + username + "?limit=" + limit
	console.log(url)
	$.get(url, function(data) {
			postsEl.innerHTML = ""
    		var posts = data
    		
    		for (var i = 0; i < posts.length; i++) {
    			var post = posts[i];
    			var el = createPost(document, post, (id) => {location.href = '/?id=' + id})
    			postsEl.appendChild(el);
    		}
    		
    })
}

var createPost = function(document, post, func) {
	
	var div = document.createElement("div")
	div.className = "post"
	
	
	div.style.paddingTop = '10px'
	div.onclick = () => func(post.id)
	
	
	
	
	var left = document.createElement("div")
	left.style.flexGrow = "1"
	
	var img = document.createElement("div")
	img.style.width = "max(8vmin, 40px)"
	img.style.height = "max(8vmin, 40px)"
	img.style.borderRadius = "max(8vmin, 40px)"
	img.style.margin = "20 20 20 20"
	img.className = "profilePic"
	img.innerHTML = "<a href='/profile/" + post.username 
		+ "' style='color:black'><i class='fa-solid fa-user fa-2xl' style='margin-top: 10px'></i></a>"
	left.appendChild(img)
	$.get("/user-pic/" + post.username, function(data) {
		if (data) {
			img.innerHTML = "<a href='/profile/" + post.username 
				+ "'><img style='width:max(8vmin, 40px);height:max(8vmin, 40px);border-radius:max(8vmin, 40px)' src='" + data + "''></img></a>"
		}
	})
	div.appendChild(left)
	
	var center = document.createElement("div")
	
	div.appendChild(center)
	
	
	center.style.textAlign = "left"
	center.style.flexGrow = "4"
	
	var title = document.createElement("a")
	title.className = "post-title"
	title.innerHTML = "<b>" + post.name + "</b> <i style='color:gray;'>@" + post.username + "</i>"
	title.style.textDecoration = "none"
	
	title.href = "/profile/" + post.username
	var content = document.createElement("p")
	content.innerHTML = post.title
	content.style.textAlign = "center"
	
	content.style.fontSize = "24px"
	
	center.appendChild(title)
	center.appendChild(content)
	
	var right = document.createElement("div")
	
	right.style.fontSize = "12px"
	right.style.flexGrow = "1"
	right.style.paddingRight = "10px"
	var date = (Date.now() - new Date(post.created)) / 1000
	var dateString = Math.round(date + 1) + " seconds ago"
	if (date >= 59 && date < 60 * 60) {
		dateString = Math.round(date / 60) + " minutes ago"
	} else if (date >= 60 * 60 && date < 60 * 60 * 24) {
		dateString = Math.round(date / (60 * 60)) + " hours ago"
	} else if (date >= 60 * 60 * 24 && date < 60 * 60 * 24 * (365 + 0.25)) {
		dateString = Math.round(date / (60 * 60 * 24)) + " days ago"
	} else if (date >= 60 * 60 * 24 * (365 + 0.25)) {
		dateString = Math.round(date / (60 * 60 * 24 * (365 + 0.25))) + " years ago"
	}
	var d = document.createElement("p")
	d.innerHTML = dateString
	right.style.textAlign = "right"
	
	right.appendChild(d)
	div.appendChild(right)
	
	return div
}

getPosts()


var openCreatePost = function() {
	window.location.href = '/create-post'
}

</script>
