<style> 		/* #20537A #38698E #5481A4 #81A8C6 #B6D0E4 */
	#settings {
		background: white;
		margin-left: 15vw;
		max-height: 85vh;
		width: 70vw;
		overflow-y: scroll;
		box-shadow: 5px 5px 10px #20537A;
		margin-top: 10px;
	}
	
	.switchDiv {
		display: flex
	}
	
	.switch {
		position : relative ;
		display : inline-block;
		width : 50px;
		height : 27px;
		background-color: #B6D0E4;
		border-radius: 15px;
		border: 1px solid #20537A;
	}
	
	.switch:after {
		content: "";
		position: absolute;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: white;
		top: 1px;
		left: 1px;
		transition: all 0.25s;
	}
	
	.checkbox {
		display: none
	}
	
	.checkbox:checked + .switch:after {
		left : 24px;
	}
	
	.checkbox:checked + .switch {
		background-color: #38698E;
	}
	
	.firstCell {
		text-align: right
	}
</style>

<meta name="viewport" content="width=device-width,initial-scale=0.8">
<title>Settings / Staffer</title>
<head>
	<%- include('css/style'); %>
</head>

<table id='settings'>
	<tr>
		<td class="firstCell">Text Notifications:</td>
		<td>
			<div class='switchDiv'>
				<input id='textNot' class='checkbox' type='checkbox' onchange='changeText()'/>
				<label for='textNot' class='switch'></label>
			</div>
		</td>
	</tr>
	<tr>
		<td class="firstCell">Email Notifications:</td>
		<td>
			<div class='switchDiv'>
				<input id='emailNot' class='checkbox' type='checkbox' onchange='changeEmail()'/>
				<label for='emailNot' class='switch'></label>
			</div>
		</td>
	</tr>
	<tr>
		<td class="firstCell">Zip Code: </td>
		<td>
			<input id="zipInput" onchange="changeZipCode()"/>
		</td>
	</tr>
	<% if (!isUser) { %>
	<tr>
		<td class="firstCell">Radius (miles): </td>
		<td>
			<input id="radInput" onchange="changeRadius()"/>
		</td>
	</tr>
	<% } %>
	
</table>



<script>
	var username = '<%- username%>'
	var settings = JSON.parse('<%- settings%>')
	var isUser = '<%- isUser%>'
	var textNot = document.getElementById('textNot')
	var emailNot = document.getElementById('emailNot')
	var zipInput = document.getElementById('zipInput')
	if (isUser) {
		var radInput = document.getElementById('radInput')
	}
	if (settings) {
		if (settings.textNotification) {
			textNot.checked = settings.textNotification
		}
		if (settings.emailNotification) {
			emailNot.checked = settings.emailNotification
		}
		if (settings.zipCode) {
			zipInput.placeholder = settings.zipCode
		}
		if (isUser && settings.radius) {
			radInput.placeholder = settings.radius
		}
		
	} else {
		settings = {
			username: username,
			emailNotification: true,
			textNotification: true,
			radius: 10,
			zipCode: "08043"
		}
		textNot.checked = true
		emailNot.checked = true
		zipInput.placeholder = "08043"
		radInput.placeholder = 10
		$.post('/settings', settings, function(data) {})
	}
	
	var changeText = function() {
		settings.textNotification = textNot.checked
		$.post('/settings', settings, function(data) {})
	}
	
	var changeEmail = function() {
		settings.emailNotification = emailNot.checked
		$.post('/settings', settings, function(data) {})
	}
	
	var changeZipCode = function() {
		var zip = zipInput.value
		if (zip && zip.length == 5) {
			settings.zipCode = zipInput.value
			$.post('/settings', settings, function(data) {})
		}
		
	}
	
	var changeRadius = function() {
		if (isUser) {
			settings.radius = radInput.value
			$.post('/settings', settings, function(data) {})
		}
	}
	
	
	
</script>