<style>
	:root {
		--light-background: #f0f0f0;
		--light-secondary: #f8f8f8;
		--dark-background: #333333;
		--dark-secondary: #191919;
		--light-text: #eeeeee;
		--dark-text: #404040;
		--light-border: #c8c8c8;
		--dark-border: #4c4c4c;
	}

	body {
		text-align: center;
		font-family: Roboto;
		justify-content: center;
		background: var(--light-background);
		padding: 0;
		margin: 0;
	}
	
	#title {
		font-size: max(5.5vw, 48px);
		width; 100%;
		color: var(--dark-text);
		background: var(--light-secondary);
		font-family: Roboto;
		
		border-bottom: 1px solid var(--light-border);
	}
	
	#signup {
		box-sizing: border-box; 
		backdrop-filter: blur(10px); 
		background: var(--light-secondary); 
		margin: auto;
		padding-top: 20px;
		padding-bottom: 15px;
		margin-bottom: 20px;
		
		width: 500px;
		display: flex;
		border-radius: 2vmin;
		border: 0.5px solid;
		flex-direction: column;
		border: 1px solid var(--light-border);
		
		
	}
	
	#signup > input {
		border-radius: 10px;
		width: 300px;
		font-size: 26px;
		background: var(--light-background);
		color: var(--dark-text);
		border: 1px solid var(--light-border);
		padding-top: 3px;
		padding-bottom: 2px;
		padding-left: 10px;
		margin: auto;
		margin-bottom: -5px;
	}
	
	#signup > div {
		margin: auto;
		margin-bottom: 10px;
	}
	#signup > div > select {
		border-radius: 5px;
		font-size: 24px;
		border: 0px
	}
	
	#signup > div > label {
		border-radius: 1vmin;
		font-size: 24px;
		border: 0;
		margin: auto;
	}
	
	#signup > button {
		border-radius: 5px;
		font-size: 28px;
		color: white;
		background: #333333;
		border: 1px solid black;
		margin: auto;
		width: 200px;
	}
	
	#signup > button:hover {
		background: #666666;
	}
	
	@media only screen and (max-width: 700px) {
		#signup {
			width: 95%;
			
		}
		
		#signup > input {
			
		}
		
		#signup > button {
			
		}
		#signup > div > label {
			
		}
		
		#signup > div > select {
			
		}
		#signup > div {
			
		}
	}
	
	@media (prefers-color-scheme: dark) {
		#title {
			color: var(--light-text);
			background: var(--dark-secondary);
		}
		#signup {
			background: var(--dark-secondary);
		}
		#signup > input {
			background: var(--dark-background);
			color: var(--light-text);
		}
		
		body {
			background: var(--dark-background);
		}
		
		#signup > div > label {
			color: var(--light-text);
		}
		
		#signup > div > select {
			background: var(--dark-background);
			color: var(--light-text);
		}
	}

</style>
<title>Sign Up / Staffer</title>
<meta name="viewport" content="width=device-width,initial-scale=0.8">
<p id="title">Staffer</p>
<form id="signup" action="/handle-signup-restaurant" method="post">
	<input name='username' placeholder="Username" required><br>
	<input name='password' type="password" placeholder="Password" required><br>
	<input name='name' placeholder="Name" required><br>
	<input name='email' placeholder="Email" type="email" required><br>
	<input name='street' placeholder="Street" required><br>
	<input name='city' placeholder="City" required><br>
	<div style="display:flex">
	<label for="state">State:</label>
	<select id="state" name="state">
		<option value="AL">AL</option>
		<option value="AK">AK</option>
		<option value="AR">AR</option>
		<option value="AZ">AZ</option>
		<option value="CA">CA</option>
		<option value="CO">CO</option>
		<option value="CT">CT</option>
		<option value="DC">DC</option>
		<option value="DE">DE</option>
		<option value="FL">FL</option>
		<option value="GA">GA</option>
		<option value="HI">HI</option>
		<option value="IA">IA</option>
		<option value="ID">ID</option>
		<option value="IL">IL</option>
		<option value="IN">IN</option>
		<option value="KS">KS</option>
		<option value="KY">KY</option>
		<option value="LA">LA</option>
		<option value="MA">MA</option>
		<option value="MD">MD</option>
		<option value="ME">ME</option>
		<option value="MI">MI</option>
		<option value="MN">MN</option>
		<option value="MO">MO</option>
		<option value="MS">MS</option>
		<option value="MT">MT</option>
		<option value="NC">NC</option>
		<option value="ND">ND</option>
		<option value="NE">NE</option>
		<option value="NH">NH</option>
		<option value="NJ">NJ</option>
		<option value="NM">NM</option>
		<option value="NV">NV</option>
		<option value="NY">NY</option>
		<option value="OH">OH</option>
		<option value="OK">OK</option>
		<option value="OR">OR</option>
		<option value="PA">PA</option>
		<option value="RI">RI</option>
		<option value="SC">SC</option>
		<option value="SD">SD</option>
		<option value="TN">TN</option>
		<option value="TX">TX</option>
		<option value="UT">UT</option>
		<option value="VA">VA</option>
		<option value="WT">VT</option>
		<option value="WA">WA</option>
		<option value="WI">WI</option>
		<option value="WV">WV</option>
		<option value="WY">WY</option>
	</select>
	</div>
	<input name='zipCode' placeholder="Zip Code" required><br>
	<input name='phone' placeholder="Phone Number" required><br>
	<button type="submit">Sign Up</button>
</form>