<style>
	
	#container {
		position: fixed;
		top: 15vh;
		left: 40vw;
		right: 40vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	#signup {
		box-sizing: border-box; 
		backdrop-filter: blur(10px); 
		background: #afb8c2; 
		width: 50vmin;
		height: 60vmin;
		display: flex;
		border-radius: 2vmin;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
	}
	
	#signup > input {
		border-radius: 1vmin;
		width: 30vmin;
		font-size: 3vmin;
		margin: -10px;
		border: 0px
	}
	#signup > div {
		margin-bottom: 2.5vmin;
	}
	#signup > div > select {
		border-radius: 1vmin;
		font-size: 3vmin;
		border: 0px
	}
	
	#signup > div > label {
		border-radius: 1vmin;
		font-size: 3vmin;
		border: 0px
	}
	
	#signup > #top {
		margin-top: 2.5vmin;
	}
	
	#signup > button {
		border-radius: 1vmin;
		border: none; 
		margin: 0.5vmin;
		font-size: 2.5vmin;
		
	}

</style>

<div id="container">
<form id="signup" action="/handle-signup-restaurant" method="post">
	<input id="top" name='username' placeholder="Username" required><br>
	<input name='password' type="password" placeholder="Password" required><br>
	<input name='name' placeholder="Name" required><br>
	<input name='email' placeholder="Email" type="email" required><br>
	<input name='street' placeholder="Street" required><br>
	<input name='city' placeholder="City" required><br>
	<div style="display:flex">
	<label for="state">State:</label>
	<select id="state" name="state">
		<option value="AL">AL</option>
		<option value="AK">AK</option>
		<option value="AR">AR</option>
		<option value="AZ">AZ</option>
		<option value="CA">CA</option>
		<option value="CO">CO</option>
		<option value="CT">CT</option>
		<option value="DC">DC</option>
		<option value="DE">DE</option>
		<option value="FL">FL</option>
		<option value="GA">GA</option>
		<option value="HI">HI</option>
		<option value="IA">IA</option>
		<option value="ID">ID</option>
		<option value="IL">IL</option>
		<option value="IN">IN</option>
		<option value="KS">KS</option>
		<option value="KY">KY</option>
		<option value="LA">LA</option>
		<option value="MA">MA</option>
		<option value="MD">MD</option>
		<option value="ME">ME</option>
		<option value="MI">MI</option>
		<option value="MN">MN</option>
		<option value="MO">MO</option>
		<option value="MS">MS</option>
		<option value="MT">MT</option>
		<option value="NC">NC</option>
		<option value="ND">ND</option>
		<option value="NE">NE</option>
		<option value="NH">NH</option>
		<option value="NJ">NJ</option>
		<option value="NM">NM</option>
		<option value="NV">NV</option>
		<option value="NY">NY</option>
		<option value="OH">OH</option>
		<option value="OK">OK</option>
		<option value="OR">OR</option>
		<option value="PA">PA</option>
		<option value="RI">RI</option>
		<option value="SC">SC</option>
		<option value="SD">SD</option>
		<option value="TN">TN</option>
		<option value="TX">TX</option>
		<option value="UT">UT</option>
		<option value="VA">VA</option>
		<option value="WT">VT</option>
		<option value="WA">WA</option>
		<option value="WI">WI</option>
		<option value="WV">WV</option>
		<option value="WY">WY</option>
	</select>
	</div>
	<input name='zipCode' placeholder="Zip Code" required><br>
	<button type="submit">Sign Up</button>
</form>
</div>