
<style>
	:root {
		--light-background: #f0f0f0;
		--light-secondary: #f8f8f8;
		--dark-background: #333333;
		--dark-secondary: #191919;
		--light-text: #eeeeee;
		--dark-text: #404040;
		--light-border: #c8c8c8;
		--dark-border: #4c4c4c;
	}
	
	body {
		text-align: center;
		font-family: Roboto;
		justify-content: center;
		background: var(--light-background);
		padding: 0;
		margin: 0;
	}
	
	#title {
		font-size: max(5.5vw, 48px);
		width; 100%;
		color: var(--dark-text);
		background: var(--light-secondary);
		font-family: Roboto;
		
		border-bottom: 2px solid var(--light-border);
	}
	
	#signup {
		box-sizing: border-box; 
		backdrop-filter: blur(10px); 
		background: var(--light-secondary); 
		margin: auto;
		padding-bottom: 15px;
		width: 500px;
		display: flex;
		border-radius: 2vmin;
		border: 0.5px solid;
		flex-direction: column;
		border: 1px solid var(--light-border);
		
		padding-top: 20px;
	}
	
	#signup > input {
		border-radius: 10px;
		width: 300px;
		font-size: 26px;
		background: var(--light-background);
		color: var(--dark-text);
		border: 1px solid var(--light-border);
		padding-top: 3px;
		padding-bottom: 2px;
		padding-left: 10px;
		margin: auto;
	}
	
	#signup > button {
		border-radius: 5px;
		font-size: 32px;
		border: 1px solid var(--dark-border);
		background: var(--dark-background);
		color: var(--light-text);
		margin: auto;
		width: 200px;
	}
	
	#signup > button:hover {
		background: var(--dark-text);
	}
	
	@media only screen and (max-width: 700px) {
		#signup {
			width: 95%;
			
		}
		
	}
	
	@media (prefers-color-scheme: dark) {
		#title {
			color: var(--light-text);
			background: var(--dark-secondary);
		}
		#signup {
			background: var(--dark-secondary);
		}
		#signup > input {
			background: var(--dark-background);
			color: var(--light-text);
		}
		
		body {
			background: var(--dark-background);
		}
	}

</style>
<meta name="viewport" content="width=device-width,initial-scale=0.8">
<title>Sign Up / Staffer</title>
<p id="title">Staffer</p>

<form id="signup" action="/handle-signup-user" method="post">
	<input id="top" name='username' placeholder="Username" required><br>
	<input name='password' type="password" placeholder="Password" required><br>
	<input name='firstname' placeholder="First Name" required><br>
	<input name='lastname' placeholder="Last Name" required><br>
	<input name='email' placeholder="Email" type="email" required><br>
	<input name='phone' placeholder="Phone Number" type="tel" required><br>
	<input name='zipCode' placeholder="Zip Code" required><br>
	<button type="submit">Sign Up</button>
</form>
