<style>
	body {
		text-align: center;
		font-family: Helvetica;
		justify-content: center;
		background-image: linear-gradient(to bottom, #5481A4, #81A8C6, white);
		padding: 0;
		margin: 0;
	}
	#title {
		font-size: max(5.5vw, 48px);
		width; 100%;
		border-bottom: solid black;
		color: white;
		background-image: linear-gradient(to bottom right, #20537A, #38698E, #5481A4, #81A8C6);
		font-family: Monaco;
	}
	#container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	}
	
	#signup {
		box-sizing: border-box; 
		backdrop-filter: blur(10px); 
		background: white;
		width: 40vw;
		height: 60vmin;
		display: flex;
		border-radius: 2vmin;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
		border: 1px solid #20537A;
		box-shadow: 5px 5px 10px #20537A;
	}
	
	#signup > input {
		border-radius: 1vmin;
		width: 30vmin;
		font-size: 3vmin;
		margin: -10px;
	}
	#signup > div {
		margin-bottom: 2.5vmin;
	}
	#signup > div > select {
		border-radius: 1vmin;
		font-size: 2.5vmin;
		border: 0px
	}
	
	#signup > div > label {
		border-radius: 1vmin;
		font-size: 3vmin;
		border: 0px
	}
	
	#signup > #top {
		margin-top: 2.5vmin;
	}
	
	#signup > button {
		border-radius: 1vmin;
		margin: 0.5vmin;
		font-size: 2.5vmin;
		background: linear-gradient(to bottom right, #20537A, #38698E, #5481A4, #81A8C6);
		color: white;
	}
	
	#signup > button:hover {
		background: linear-gradient(to top left, #20537A, #38698E, #5481A4, #81A8C6);
	}
	
	@media only screen and (max-width: 700px) {
		#signup {
			margin-left: 0;
			padding-left: 0;
			width: 100%;
			height: 55vh;
		}
		
		#signup > input {
			border-radius: 1vmin;
			width: 50vmin;
			font-size: max(16px, 4vh);
			margin: -10px;
		}
		
		#signup > button {
			border-radius: 1vmin;
			margin: 0.25vh;
			font-size: max(16px, 4vh);
			border: 0.5px solid;
		}
		#signup > div > label {
			border-radius: 1vmin;
			font-size: max(16px, 3vh);
			border: 0px;
		}
		
		#signup > div > select {
			border-radius: 1vmin;
			font-size: max(12px, 2.5vh);
			border: 0px;
		}
		#signup > div {
			margin-bottom: 2.5vh;
		}
	}

</style>
<title>Sign Up / Staffer</title>
<meta name="viewport" content="width=device-width,initial-scale=0.8">
<p id="title">Staffer</p>
<div id="container">
<form id="signup" action="/handle-signup-restaurant" method="post">
	<input id="top" name='username' placeholder="Username" required><br>
	<input name='password' type="password" placeholder="Password" required><br>
	<input name='name' placeholder="Name" required><br>
	<input name='email' placeholder="Email" type="email" required><br>
	<input name='street' placeholder="Street" required><br>
	<input name='city' placeholder="City" required><br>
	<div style="display:flex">
	<label for="state">State:</label>
	<select id="state" name="state">
		<option value="AL">AL</option>
		<option value="AK">AK</option>
		<option value="AR">AR</option>
		<option value="AZ">AZ</option>
		<option value="CA">CA</option>
		<option value="CO">CO</option>
		<option value="CT">CT</option>
		<option value="DC">DC</option>
		<option value="DE">DE</option>
		<option value="FL">FL</option>
		<option value="GA">GA</option>
		<option value="HI">HI</option>
		<option value="IA">IA</option>
		<option value="ID">ID</option>
		<option value="IL">IL</option>
		<option value="IN">IN</option>
		<option value="KS">KS</option>
		<option value="KY">KY</option>
		<option value="LA">LA</option>
		<option value="MA">MA</option>
		<option value="MD">MD</option>
		<option value="ME">ME</option>
		<option value="MI">MI</option>
		<option value="MN">MN</option>
		<option value="MO">MO</option>
		<option value="MS">MS</option>
		<option value="MT">MT</option>
		<option value="NC">NC</option>
		<option value="ND">ND</option>
		<option value="NE">NE</option>
		<option value="NH">NH</option>
		<option value="NJ">NJ</option>
		<option value="NM">NM</option>
		<option value="NV">NV</option>
		<option value="NY">NY</option>
		<option value="OH">OH</option>
		<option value="OK">OK</option>
		<option value="OR">OR</option>
		<option value="PA">PA</option>
		<option value="RI">RI</option>
		<option value="SC">SC</option>
		<option value="SD">SD</option>
		<option value="TN">TN</option>
		<option value="TX">TX</option>
		<option value="UT">UT</option>
		<option value="VA">VA</option>
		<option value="WT">VT</option>
		<option value="WA">WA</option>
		<option value="WI">WI</option>
		<option value="WV">WV</option>
		<option value="WY">WY</option>
	</select>
	</div>
	<input name='zipCode' placeholder="Zip Code" required><br>
	<input name='phone' placeholder="Phone Number" required><br>
	<button type="submit">Sign Up</button>
</form>
</div>