
<style>
	body {
		text-align: center;
		font-family: Roboto;
		justify-content: center;
		background: #eeeeee;
		padding: 0;
		margin: 0;
	}
	
	#title {
		font-size: max(5.5vw, 48px);
		width; 100%;
		color: black;
		background: white;
		font-family: Roboto;
		box-shadow: 5px 5px 10px black;
		border-bottom: 1px solid #3F3F3F;
	}
	
	#signup {
		box-sizing: border-box; 
		backdrop-filter: blur(10px); 
		background: white; 
		margin: auto;
		padding-bottom: 15px;
		width: 500px;
		display: flex;
		border-radius: 2vmin;
		border: 0.5px solid;
		flex-direction: column;
		border: 1px solid #3F3F3F;
		box-shadow: 5px 5px 10px black;
		padding-top: 20px;
	}
	
	#signup > input {
		border-radius: 10px;
		width: 300px;
		font-size: 26px;
		background: #eeeeee;
		border: none;
		color: black;
		padding-top: 3px;
		padding-bottom: 2px;
		padding-left: 10px;
		margin: auto;
	}
	
	#signup > button {
		border-radius: 5px;
		font-size: 32px;
		color: white;
		background: #333333;
		border: 1px solid black;
		margin: auto;
		width: 200px;
	}
	
	#signup > button:hover {
		background: #666666;
	}
	
	@media only screen and (max-width: 700px) {
		#signup {
			width: 95%;
			
		}
		
	}
	
	@media (prefers-color-scheme: dark) {
		#title {
			color: white;
			background: black;
		}
		#signup {
			background: black;
		}
		#signup > input {
			background: #666666;
			color: white;
		}
		
		body {
			background: #333333;
		}
	}

</style>
<meta name="viewport" content="width=device-width,initial-scale=0.8">
<title>Sign Up / Staffer</title>
<p id="title">Staffer</p>

<form id="signup" action="/handle-signup-user" method="post">
	<input id="top" name='username' placeholder="Username" required><br>
	<input name='password' type="password" placeholder="Password" required><br>
	<input name='firstname' placeholder="First Name" required><br>
	<input name='lastname' placeholder="Last Name" required><br>
	<input name='email' placeholder="Email" type="email" required><br>
	<input name='phone' placeholder="Phone Number" type="tel" required><br>
	<input name='zipCode' placeholder="Zip Code" required><br>
	<button type="submit">Sign Up</button>
</form>
