

<style>
	#experience {
		//background: white;
		//border-radius: 20px;
		
		margin: auto;
		width: min(800px, 90%);
		//box-shadow: 5px 5px 10px #20537A;
		padding-bottom: 30px;
	}
	
	#upload-experience {
		position: absolute;
		right: 10px;
		top: 0;
		color: white;
		background: linear-gradient(to bottom right, #20537A, #38698E, #5481A4, #81A8C6);
		border-radius: 20px;
		font-size: 14px;
		margin-top: 10px;
	}
	
	#upload-experience:hover {
		background: linear-gradient(to bottom right, #cedde9, #81A8C6, #5481A4);
	}
	
	#upload-pdf {
		opacity: 0;
		position: absolute;
		z-index: -1;
	}
	
	.right {
		text-align: right;
	}
	
	#experience-holder {
		margin: auto;
		width: 90%;
		max-height: 1000px;
		background: black;
	}
	
	#resume {
		width: 100%;
		min-height: 600px;
		max-height: 1000px;
	}
	
	
	@media only screen and (max-width: 700px) {
		#experience {
			margin-left: 1.5vw;
			width: 97vw;
		}
		#expTable {
			width: 90vw;
		}
	}
	
	@media (prefers-color-scheme: dark) {
		#experience {
			//background: black;
			color: white;
		}
	}
	
</style>
<meta name="viewport" content="width=device-width,initial-scale=0.8">

<body>



<div id="experience">
	<div style="position:relative;padding-top:0.5px;">
		<p id="exp-title"><u>Experience</u></p>
		<%if(own && own == true) { %>
			<form id="upload-experience" method="post" enctype="multipart/form-data">
				<label for="upload-pdf">Upload Resume<input type="file" id="upload-pdf" name="resume" accept="application/pdf" /></label>
			</form>
		<% } %> 
	</div>
	<div id="experience-holder"></div>
</div>

<script>
	var username = '<%- username%>'
	
	var makeExperience = function() {
		$.get('/resume/' + username, (url) => {
			if (url) {
				var div = document.getElementById("experience-holder")
				var e = document.createElement("embed")
				e.id = "resume"
				e.src = url + "#toolbar=0"
				div.appendChild(e)
			}
		});
		
	}
	
	makeExperience();
	
</script>

<%if (own) {%>
<script>
	
	var upload = document.getElementById("upload-experience")	
	upload.action = "/resume"	
	var resume = document.getElementById("upload-pdf")
	resume.onchange = (e) => {
		upload.submit()
	}
	
</script>
<%}%>
</body>