

<style>
	#experience {
		background: white;
		//border-radius: 20px;
		margin-left: 10vw;
		width: 80vw;
		border-style: none solid solid none;
		border-width: 1px;
		border-color: black;
		box-shadow: 5px 5px 10px #20537A;
		padding-bottom: 30px;
		margin-bottom: 10px;
		//background: radial-gradient(#cedde9, #81A8C6);
	}
	#expTable {
		margin-left: 5vw;
		width: 70vw;
		margin-bottom: 10vh;
	}
	
	#exp-title {
		font-size: max(3vw, 20px);
		font-weight: bold;
		justify-content: center;
	}
	
	#edit-experience {
		position: absolute;
		right: 10px;
		top: 0;
		color: white;
		background: linear-gradient(to bottom right, #20537A, #38698E, #5481A4, #81A8C6);
		//border-radius: 20px;
		font-size: 14px;
		margin-top: 10px;
	}
	
	#edit-experience:hover {
		background: linear-gradient(to bottom right, #cedde9, #81A8C6, #5481A4);
	}
	
	
	@media only screen and (max-width: 700px) {
		#experience {
			margin-left: 1.5vw;
			width: 97vw;
		}
		#expTable {
			width: 90vw;
		}
	}
	
	@media (prefers-color-scheme: dark) {
		#experience {
			background: black;
			color: white;
		}
		#expTable {
			color: white;
		}
	}
	
</style>
<meta name="viewport" content="width=device-width,initial-scale=0.8">
<body>



<div id="experience">
	<div style="position:relative;padding-top:0.5px;">
		<p id="exp-title"><u>Experience</u></p>
		<%if(own && own == true) { %>
			<button id="edit-experience" onclick='editExpPage()'>Edit Experience</button>
		<% } %> 
	</div>
	<table id="expTable"></table>
</div>


<script>
	var username = '<%- username%>'
	var experienceElement = document.getElementById("experience-div")
	var experiences = {};
	var types = [];
	
	var editExpPage = function() {
		window.location.href = "edit-experience/" + username
	}
	
	var makeExperience = function() {
		var expTable = document.getElementById("expTable")
		$.get("/experience/" + username, function(data) {
			for(var rest in data) {
				var length = expTable.length
				var r = expTable.insertRow(length)
				r.className = 'row-top'
				var c = r.insertCell(0)
				r.insertCell(1)
				r.insertCell(2)
				c.innerHTML = '<u style="font-size:max(1.45vw, 16px)">' + rest + '</u>'
				var exp = data[rest]
				for (var i = 0; i < exp.length; i++) {
					var job = exp[i]
					var r1 = expTable.insertRow(length)
					var c1 = r1.insertCell(0)
					c1.innerHTML = '<b>' + job.role + '</b>'
					var c2 = r1.insertCell(1)
					c2.style.textAlign = 'center'
					c2.innerHTML = job.description
					var cEnd = r1.insertCell(2)
					cEnd.className = "right"
					cEnd.innerHTML = job.time
				}
			}
		});
	}
	
	makeExperience();
	
	var openCreatePost = function() {}
</script>

</body>