<style>
body {
	text-align: center;
	justify-content: center;
	
	font-family: Helvetica;
	margin: 0;
	background-image: linear-gradient(to bottom, #5481A4, #81A8C6, white);
}															/* #20537A #38698E #5481A4 #81A8C6 #B6D0E4 */
button {
	font-family: Helvetica; 
	color: black;
}

#top {
	width: 99vw - 8px;
	margin: 0;
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	left: 0.5vw;
	border-bottom: 1px solid black;
	font-size: max(2.5vw, 23px);
	z-index: 1;
	background-image: linear-gradient(to bottom right, #20537A, #38698E, #5481A4, #81A8C6);
	//background: #5481A4;
	/*border-style: none solid solid solid;
	border-width: 4px;
	border-color: black;*/
	box-shadow: 5px 5px 10px #20537A;
}
#top > button {
	width: 10vw;
	border-radius: 0;
	background: white;
	margin: 10px 0px 10px 0.2vw;
	min-height: 3vh;
	
	color: #20537A;
}

#top > button:hover {
	color: white;
	background: #20537A;
}

#top > #space {
	width: 17vw;
	
}



#top > #dropdown {
	margin: 10px 0px 10px 10px;
	width: 20vw;
	min-width: 175px;
	
}

#top > #dropdown > input {
	width: 100%;
	font-size: max(1.5vw, 16px);
	border-radius: 10px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#top > #dropdown > #results {
	display: none;
	z-index: 1;
	position: absolute;
	background: white;
	width: max(25vw, 200px);
	max-height: 150px;
	border: 1px solid lightgray;
	border-radius: 15px;
	margin-top: 5px;
	overflow-y: auto;
}


.dropdown-btn {
	display: flex;
	width: 100%;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	border-bottom: 0.5px solid lightgray;
	font-size: max(1vw, 12px);
	overflow-x: auto;
	height: 30px;
	min-height: 30px;
}

.dropdown-btn:hover {
	background: #B6D0E4;
}

#top > #logo {
	margin: 10px 0px 10px 0.2vw;
	width: 14vw;
	color: transparent;
	font-family: Monaco;
	font-weight: bolder;
	text-decoration: none;
	font-size: max(2.5vw, 24px);
	background-image: linear-gradient(to bottom right, white, #B6D0E4);
	background-clip: text;
}

@media only screen and (max-width: 700px) {
	#top > #logo {
		font-size: max(3vw, 12px)
	}
	#top > #space {
		width: 10px;
	}
	#top > #dropdown {
		width: 35vw;
	}
	
	#top > #dropdown > #results {
		width: 35vw;
	}
	
	#top > #logo {
		font-size: 18px;
	}
	
}

</style>
<script src="https://kit.fontawesome.com/9e383076d5.js" crossorigin="anonymous"></script>

<div id="top">
	<a id="logo" href='/'>Staffer</a>
	<div id="dropdown">
		<input id="search" placeholder="Search" onkeyup="onChange()"></input>
		<div id="results"></div>
	</div>
	<div id="space"></div>
	<button onclick="location.href='/'" class="fa-solid fa-home fa-sm"></button>
	<button onclick="location.href='/notifications'" class="fa-solid fa-bell fa-sm"></button>
	<button onclick="location.href='/chats'" class="fa-solid fa-envelope fa-sm"></button>
	<button onclick="location.href='/profile'" class="fa-solid fa-user fa-sm"></button>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	var searches = []
	var timers = []
	var onChange = function() {
		var searchEl = document.getElementById("search")
		
		var search = searchEl.value;
		searches.push(search)
		var id = setTimeout(searchChange, 500);
		timers.push(id)
	}
	var searchChange = function() {
		var resultsEl = document.getElementById("results")
		var searchResults = []
		resultsEl.innerHTML = ""
		console.log(searches)
		for (var i = 0; i < timers.length; i++) {
			clearTimeout(timers[i])
		}
		var search = searches.pop()
		searches = []
		if (search && search.length > 0) {
			$.get("/search-users/" + search, function(data) {
				for (var i = 0; i < data.length; i++) {
					var u = data[i]
					if (searchResults.find((res) => {res.username == u.username}) == undefined) {
						searchResults.push(u)
					}
				}
				
				
				for (var i = 0; i < searchResults.length; i++) {
					var user = searchResults[i]
					var div = document.createElement("div")
					div.username = user.username
					div.onclick = (e) => {
						var username = e.target.username? e.target.username: e.target.attributes.username.value
						window.location.href = "/profile/" + username
					}
					if (user.pic.length > 0) {
						var img = document.createElement("img")
						img.src = user.pic
						img.username = user.username
						img.style.width = '25px'
						img.style.height = '25px'
						img.style.borderRadius = '25px'
						div.appendChild(img)
					} else {
						var span = document.createElement("div")
						span.innerHTML = "<i username='" + user.username + "' class='fa-solid fa-user fa-2xl'></i>"
						span.username = user.username
						span.style.height = '20px'
						span.style.marginTop = '15px'
						span.style.marginBottom = '-10px'
						div.appendChild(span)
					}
					var dText = document.createElement('div')
					dText.style.textAlign = 'center'
					dText.style.width = '90%'
					dText.username = user.username
					var text = document.createElement('p')
					dText.append(text)
					text.username = user.username
					text.innerHTML = user.name + '<i style="color: gray">@' + user.username + '</i>'
					text.style.marginLeft = '5px'
					text.style.marginBottom = '0'
					text.style.marginTop = '0'
					text.style.fontSize = 'max(1.5vw, 16px)'
					
					text.style.textAlign = 'center'
					div.appendChild(dText)
					div.className = "dropdown-btn"
					resultsEl.appendChild(div)
					resultsEl.style.display = "block"
				}
				allow = true
			})
		} else {
			resultsEl.style.display = "none"
			allow = true
		}
		
	}
	
</script>