<style>
body {
	text-align: center;
	justify-content: center;
	
	font-family: Roboto;
	margin: 0;
	background: #eeeeee;
}															/* #20537A #38698E #5481A4 #81A8C6 #B6D0E4 */
button {
	font-family: Roboto; 
	color: black;
}

#top {
	height: 70px;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	z-index: 1;
	background: white;
	box-shadow: 5px 5px 10px #20537A;
}

#grouping {
	position: absolute;
	left: min(150px, max(30px, 8%));
	height: 100%;
	display: flex;
	padding-top: 5px;
}

#bar {
	display: flex;
	position: absolute;
	right: min(150px, max(30px, 8vw));
	height: 100%;
	font-size: 32px;
}

#bar > button {
	margin-right: min(10px, max(5px, 0.75%));
	background: none;
	border: none;
	
	height: 100%;
	
	color: #38698E;
}


#grouping > #dropdown {
	width: max(20%, 225px);
	margin-top: 10px;
	margin-left: 15px;
}

#grouping > #dropdown > input {
	width: 100%;
	font-size: 16px;
	padding: 10px;
	padding-left: 10px;
	background: #dddddd;
	border: none;
	border-radius: 10px;
}

#grouping > #dropdown > #results {
	display: none;
	z-index: 1;
	position: absolute;
	background: white;
	width: max(25vw, 300px);
	max-height: 150px;
	border: 1px solid lightgray;
	border-radius: 15px;
	margin-top: 5px;
	overflow-y: auto;
}


.dropdown-btn {
	display: flex;
	width: 100%;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	border-bottom: 0.5px solid lightgray;
	font-size: max(1vw, 12px);
	overflow-x: auto;
	height: 30px;
	min-height: 30px;
}

.dropdown-btn:hover {
	background: #B6D0E4;
}

#grouping > #logo {
	color: transparent;
	font-family: Roboto;
	font-weight: bolder;
	text-decoration: none;
	margin-top: 10px;
	font-size: 34px;
	background-image: linear-gradient(to bottom right, #20537A, #B6D0E4);
	background-clip: text;
	-webkit-background-clip: text;
}

#search {
	background: none;
	color: black;
}

@media only screen and (max-width: 700px) {
	#top {
		height: 50px;
	}
	#grouping {
		left: 20px;
	}
	#bar {
		right: 20px;
		font-size: 20px;
	}
	#bar > button {
		margin-right: 0px;
	}
	
	#grouping > #logo {
		font-size: 18px;
		margin-right: 10px;
		margin-top: 10px;
	}
	#grouping > #dropdown {
		width: 175px;
		margin-top: 5px;
		margin-left: 5px;
	}
	
	#grouping > #dropdown > #results {
		width: 300px;
	}
	
	#grouping > #dropdown > input {
		padding: 5px;
		padding-left: 10px;
		margin-top: 5px;
	}
	
	
}

@media (prefers-color-scheme: dark) {
	body {
		background: #333333;
	}
	#top {
		background: black;
	}
	#search {
		color: white;
	}
	#bar > button {
		color: white;
	}
	
	#grouping > #dropdown > input {
		background: #333333;
	}
}

</style>
<link rel="apple-touch-icon" type="image/x-icon" href="/favicon.ico">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<script src="https://kit.fontawesome.com/9e383076d5.js" crossorigin="anonymous"></script>

<div id="top">
	<div id="grouping">
		<a id="logo" href='/'>Staffer</a>
		<div id="dropdown">
			<input id="search" placeholder="Search" onkeyup="onChange()"></input>
			<div id="results"></div>
		</div>
	</div>
	<div id="bar">
		<button onclick="location.href='/'" class="fa fa-home fa-sm"></button>
		<button onclick="location.href='/notifications'" class="fa fa-bell fa-sm"></button>
		<button onclick="location.href='/chats'" class="fa fa-envelope fa-sm"></button>
		<button onclick="location.href='/profile'" class="fa fa-user fa-sm"></button>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	var searches = []
	var timers = []
	var onChange = function() {
		var searchEl = document.getElementById("search")
		
		var search = searchEl.value;
		searches.push(search)
		var id = setTimeout(searchChange, 500);
		timers.push(id)
	}
	var searchChange = function() {
		var resultsEl = document.getElementById("results")
		var searchResults = []
		resultsEl.innerHTML = ""
		console.log(searches)
		for (var i = 0; i < timers.length; i++) {
			clearTimeout(timers[i])
		}
		var search = searches.pop()
		searches = []
		if (search && search.length > 0) {
			$.get("/search-users/" + search, function(data) {
				for (var i = 0; i < data.length; i++) {
					var u = data[i]
					if (searchResults.find((res) => {res.username == u.username}) == undefined) {
						searchResults.push(u)
					}
				}
				
				
				for (var i = 0; i < searchResults.length; i++) {
					var user = searchResults[i]
					var div = document.createElement("div")
					div.username = user.username
					div.onclick = (e) => {
						var username = e.target.username? e.target.username: e.target.attributes.username.value
						window.location.href = "/profile/" + username
					}
					if (user.pic.length > 0) {
						var img = document.createElement("img")
						img.src = user.pic
						img.username = user.username
						img.style.width = '25px'
						img.style.height = '25px'
						img.style.borderRadius = '25px'
						div.appendChild(img)
					} else {
						var span = document.createElement("div")
						span.innerHTML = "<i username='" + user.username + "' class='fa-solid fa-user fa-2xl'></i>"
						span.username = user.username
						span.style.height = '20px'
						span.style.marginTop = '15px'
						span.style.marginBottom = '-10px'
						div.appendChild(span)
					}
					var dText = document.createElement('div')
					dText.style.textAlign = 'center'
					dText.style.width = '90%'
					dText.username = user.username
					var text = document.createElement('p')
					dText.append(text)
					text.username = user.username
					text.innerHTML = user.name + '<i style="color: gray">@' + user.username + '</i>'
					text.style.marginLeft = '5px'
					text.style.marginBottom = '0'
					text.style.marginTop = '0'
					text.style.fontSize = 'max(1.5vw, 16px)'
					
					text.style.textAlign = 'center'
					div.appendChild(dText)
					div.className = "dropdown-btn"
					resultsEl.appendChild(div)
					resultsEl.style.display = "block"
				}
				allow = true
			})
		} else {
			resultsEl.style.display = "none"
			allow = true
		}
		
	}
	
</script>