<style>
body {
	text-align: center;
	justify-content: center;
	background: #eeeeee;
	font-family: Copperplate; 
}
button {
	font-family: Copperplate; 
}

#top {
	width: 100%;
	background: white;
	margin: 0;
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	border-bottom: 0.5px solid;
	font-size: max(2.5vw, 20px);
}
#top > button {
	width: 16vw;
	border-radius: 0;
	background: white;
	margin: 10px 0px 10px 0.2vw;
	min-height: 3vh;
}



#top > #dropdown {
	margin: 10px 0px 10px 0.2vw;
	width: 18vw;
	
	
}

#top > #dropdown > input {
	width: 100%;
	font-size: 1.5vw;
}

#top > #dropdown > #results {
	display: none;
	z-index: 1;
	position: absolute;
	background: black;
	width: 18vw;
	
}

#dropdown-btn {
	display: block;
	left: 0;
	width: 100%;
}

#top > #logo {
	margin: 10px 0px 10px 0.2vw;
	width: 14vw;
	color: black;
	text-decoration: none;
	
}

</style>
<script src="https://kit.fontawesome.com/9e383076d5.js" crossorigin="anonymous"></script>

<div id="top">
	<a id="logo" href='/'>Waiter</a>
	<button onclick="location.href='/'" class="fa-solid fa-home fa-sm"></button>
	<button onclick="location.href='/notifications'" class="fa-solid fa-bell fa-sm"></button>
	<button onclick="location.href='/chats'" class="fa-solid fa-envelope fa-sm"></button>
	<button onclick="location.href='/profile'" class="fa-solid fa-user fa-sm"></button>
	<div id="dropdown">
		<input id="search" placeholder="Search" onkeyup="searchChange()"></input>
		<div id="results"></div>
	</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	var searchChange = function() {
		var searchEl = document.getElementById("search")
		var resultsEl = document.getElementById("results")
		resultsEl.innerHTML = ""
		var search = searchEl.value;
		if (search && search.length > 0) {
			$.get("/search-users/" + search, function(data) {
				var usernames = data
				for (var i = 0; i < usernames.length; i++) {
					var username = usernames[i]
					var btn = document.createElement("button")
					btn.onclick = (e) => { window.location.href = "/profile/" + e.target.username }
					btn.innerHTML = username;
					btn.username = username;
					btn.id = "dropdown-btn"
					resultsEl.appendChild(btn)
					resultsEl.style.display = "block"
				}
				
			})
		} else {
			resultsEl.style.display = "none"
		}
		
	}
	
</script>